{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="one-time-notification notification is-warning" data-storage-key="notification-chat-warning" data-run-on-load="showOrHideOnLoad">
                <button class="delete"></button>
                Currently, you will be disconnected from the channel if you try to change the page while you are connected.
            </div>
            <div class="message mb-5">
                <div class="message-body">
                    <div class="content">
                        <p>You can either use the below webchat, or connect directly to #r/a/dio on irc.rizon.net.</p>
                        <p>If you're here for the daypass and anyone <a class="on-hover-darken" href="/staff#staff" hx-boost="true" hx-push-url="true" hx-target="#content">listed as staff</a> isn't responding, come back later at or try your luck
                            asking in the channel. Even if a staff member is online, it might take some time for him to respond.</p>
                        <p>To avoid being automatically renamed, consider choosing a nickname that's a little longer longer than just a few letters, and less common than "anon" or something equally simple.</p>
                    </div>
                </div>
            </div>
            <div class="block" style="height:calc(100vh - 350px);min-height:500px;">
                <iframe width="100%" height="100%" src="https://qchat.rizon.net/?channels=r/a/dio"></iframe>
            </div>
        </div>
</section>
{{end}}