{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            {{template "pagination-last-played" .Page}}
                    {{range $song := $.Songs}}
                    {{template "song" $song}}
                    {{end}}
            {{template "pagination-last-played" .Page}}
        </div>
    </div>
</section>
{{end}}

{{define "song"}}
<div class="block my-0 py-4">
    <div class="columns is-flex-mobile">
        <div class="column is-narrow is-hidden-mobile image is-64x64 is-square mr-2 lp-dj-image">
            {{if .LastPlayedBy}}
            {{with .LastPlayedBy}}
            <img class="dj-image" src="/api/dj-image/{{.DJ.Image}}" />
            <div class="dj-image-name-64">{{.DJ.Name}}</div>
            {{end}}
            {{else}}
            <img class="dj-image" src="/assets/images/mystery-dj.png" />
            <div class="dj-image-name-64">Unknown</div>
            {{end}}
        </div>
        <div class="column has-background-radio-secondary-1 is-align-content-center has-text-centered p-4">{{.Metadata}}
            <a hx-boost="true" hx-push-url="true" hx-target="#content" href="/search?q={{.Metadata}}"><div class="tag is-small is-pulled-right px-0 no-background"><svg class="svg-icon" data-icon-type="magnifying-glass"><use href="assets/default-dark/svg/sprites.svg#magnifying-glass"></use></svg></div></a>
        </div>
        <div class="column is-narrow has-background-radio-secondary-1 is-align-content-center has-text-centered p-4 ml-2"><time datetime="{{.LastPlayed.Unix}}" data-type="absolute">{{.LastPlayed | AbsoluteDate}}</time></div>
    </div>
</div>
{{end}}
