{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            {{template "news-post" .Post}}
            {{template "news-comments" .}}
        </div>
    </div>
</section>
{{end}}

{{define "news-post"}}
<div class="columns block has-background-radio-secondary-1 mb-5">
    <article class="message column is-12 disable-message-hover">
        <a href="/news" hx-boost="true" hx-push-url="true" hx-target="#content">
            <div class="block message-header has-background-radio-primary-2 on-hover-darken mb-0">
                <span class="news-title">{{.Title}}</span>
                <span style="text-decoration:none;">{{with .User}}{{or .Username "Anonymous"}}{{else}}Anonymous{{end}}</span>
            </div>
        </a>
        <div class="message-body has-background-radio-secondary-1 disable-message-border">
            <strong><time class="is-inline-block is-fullwidth has-text-right has-timeago" datetime="{{.CreatedAt.Unix}}" data-type="medium">{{ TimeAgo .CreatedAt "%y years, %d days, %h hours, %m minutes" }}</time></strong>
            {{.Body}}
        </div>
    </article>
</div>
{{end}}

{{define "news-comments"}}
<div class="columns">
    <div class="column is-hidden-tablet has-background-radio-secondary-1 is-align-self-flex-start mb-4">
        <form method="POST" action="{{.RequestURL}}" hx-post="{{.RequestURL}}" hx-push-url="false" hx-target="#content">
            {{.CSRFTokenInput}}
            <textarea id="news-comment-input-1" name="comment" rows="4" class="textarea mb-4" placeholder="Enter a comment..." onkeyup="countNewsInputCharacters(event)"></textarea>
            <div class="columns">
                <div class="column is-8 has-text-centered">
                    <p>{{if .User}}Logged in (as {{.User.Username}}){{else}}Not logged in{{end}}</p>
                    <p>Comments use markdown formatting (<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">guide</a>)</p>
                    <p><span id="news-comment-character-counter-1">500</span> characters remaining.</p>
                </div>
                <div class="column is-narrow is-flex is-align-self-flex-end">
                    <button class="submit button is-primary is-fullwidth">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="column is-8 m-0 p-0">
        {{if .Post.Comments}}
        {{range .Post.Comments}}
        <div id="{{.ID}}" class="column block has-background-radio-secondary-1 mb-4">
            <div class="columns is-flex-mobile">
                <div class="column is-narrow ml-1 {{with .User}}{{if .DJ.Role}}is-color-{{.DJ.Role}}{{end}}{{end}}">{{with .User}}{{.Username}} <span class="is-uppercase is-size-7">## {{.DJ.Role}}</span>{{else}}Anonymous ({{.Identifier}}){{end}}</div>
                <div class="column pr-0" style="text-align:end">{{.CreatedAt | AbsoluteDate}}</div>
                <div class="column is-narrow-mobile is-narrow mr-1 pl-2"><a class="post-id is-clickable" onclick="quotePost({{.ID}})">#{{.ID}}</a></div>
            </div>
            <div class="block has-background-radio-primary-2 content-border-top-light disable-border-radius" style="position:relative;">
                <div class="p-4">
                    {{.Body}}
                </div>
                {{if and $.User (or ($.User.UserPermissions.Has "dev") ($.User.UserPermissions.Has "staff") ($.User.UserPermissions.Has "admin"))}}
                <button style="position:absolute;bottom:0.5rem;right:0.5rem;" class="column is-narrow button box p-2 is-warning">Delete</button>
                {{end}}
            </div>
        </div>
        {{end}}
        {{else}}
        <div class="column block is-fullheight has-background-radio-secondary-1 mb-4">
                <div class="is-fullheight has-centered-content p-4">
                    There are no comments to show yet. Be the first one to comment!
                </div>
        </div>
        {{end}}
    </div>
    <div class="column is-hidden-mobile has-background-radio-secondary-1 is-align-self-flex-start ml-4">
        <form method="POST" action="{{.RequestURL}}" hx-post="{{.RequestURL}}" hx-push-url="false" hx-target="#content">
            {{.CSRFTokenInput}}
            <textarea id="news-comment-input-2" name="comment" rows="4" class="textarea mb-4" placeholder="Enter a comment..." onkeyup="countNewsInputCharacters(event)"></textarea>
            <button class="submit button is-primary" style="position:relative;float:right;">Submit</button>
            <p>{{if .User}}Logged in (as {{.User.Username}}){{else}}Not logged in{{end}}</p>
            <p>Comments use markdown formatting (<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">guide</a>)</p>
            <p><span id="news-comment-character-counter-2">500</span> characters remaining.</p>
        </form>
    </div>
</div>
{{end}}