{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            {{if .Message}}
            <div class="notification notification-temporary is-success has-text-centered">
                {{.Message}}
            </div>
            {{end}}
            <p class="has-text-centered">Search for something! You can click on the plus icon to show some additional information about the song.</p>
            <div class="columns is-centered mb-5">
                <form action="/search" class="column is-8 control is-flex"
                        hx-boost="true"
                        hx-push-url="true"
                        hx-swap="outerHTML settle:10s show:none"
                        hx-target="#search-content"
                        hx-select="#search-content">
                    {{.CSRFLegacyFix}}
                    <input class="input" type="text" name="q" placeholder="Search" value="{{.Query}}"
                        hx-get="/search"
                        hx-target="#search-content"
                        hx-select="#search-content"
                        hx-trigger="input changed delay:500ms">
                </form>
            </div>
            <div id="search-content">
                <div class="block has-text-centered is-size-5 mb-5 pb-3">
                    {{if eq .RequestCooldown 0}}
                    <p>The request cooldown is one hour. You are currently not on cooldown!</p>
                    {{else}}
                    <p>The request cooldown is one hour. You can request again <time datetime="{{(.Now.Add .RequestCooldown).Unix}}" data-type="pretty">{{.RequestCooldown | PrettyDuration}}</time>.</p>
                    {{end}}
                </div>
                {{if len .Songs}}
                    {{template "pagination" .Page}}
                {{end}}

                <div class="fixed-grid has-1-cols">
                    <div class="grid">
                        {{range .Songs}}
                        <div class="cell dropdown-parent">
                            <div class="fixed-grid has-12-cols">
                                <div class="grid">
                                    <div class="cell is-col-span-11 has-background-radio-secondary-1 is-align-content-center has-text-centered p-3">{{.Metadata}}
                                        <div class="tag is-small is-pulled-right no-background"><svg class="svg-icon" data-state="plus" onclick="toggleDropdown(this)"><use href="assets/default-dark/svg/sprites.svg#plus"></use></svg></div>
                                    </div>
                                    <div class="cell is-col-span-1 is-align-content-center p-0 m-0">
                                    {{block "request-form" SongPair . $}}
                                        <form method="POST" action="/v1/request?trackid={{.TrackID}}&q={{.Data.Query}}&page={{.Data.Page.Nr}}"
                                            hx-post="/v1/request?trackid={{.TrackID}}&q={{.Data.Query}}&page={{.Data.Page.Nr}}"
                                            hx-target="#content"
                                            hx-push-url="false"
                                            hx-swap="innerHTML settle:10s show:top">
                                            {{.Data.CSRFTokenInput}}
                                            {{if not .HasTrack}}
                                                <button type="submit" class="button is-warning is-fullwidth">Broken</button>
                                            {{else if and .Data.CanRequest .Requestable}}
                                                <button type="submit" class="button is-primary is-fullwidth" name="id" value="{{.TrackID}}" onclick="event.stopPropagation()">Request</button>
                                            {{else}}
                                                <button type="submit" class="button is-danger is-fullwidth" name="id" value="{{.TrackID}}" onclick="event.stopPropagation()" disabled>Request</button>
                                            {{end}}
                                        </form>
                                    {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{template "song-info-extra" .}}
                        {{end}}
                    </div>
                </div>
                {{if gt (len .Songs) 10 }}
                {{template "pagination" .Page}}
                {{end}}
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "search-header"}}
<div class="block has-text-centered is-hidden-mobile">
    <div class="columns is-vcentered mb-5">
        <div class="column is-size-4">Song</div>
        <div class="column is-size-4 is-2 mr-3">Request</div>
    </div>
</div>
{{end}}

{{define "search-api"}}
<div id="search-bar-popup" class="box has-text-centered">
    <a class="is-size-5 block is-block pb-4" href="/search?q={{.Query}}">Open search page</a>
{{if .Message}}
    <div class="columns is-vcentered {{if .IsError}}is-danger{{else}}is-success{{end}}">
        <div class="column">{{.Message}}</div>
    </div>
{{else}}
    {{with .Songs}}
        {{range .}}
        <div class="columns is-vcentered">
            <div class="column my-2">{{.Metadata}}</div>
            <div class="column is-narrow">
            {{block "request-api-form" SongPair . $}}
                <form method="POST" action="/v1/request?trackid={{.TrackID}}&q={{.Data.Query}}&page={{.Data.Page.Nr}}&s=navbar"
                    hx-post="/v1/request?trackid={{.TrackID}}&q={{.Data.Query}}&page={{.Data.Page.Nr}}&s=navbar"
                    hx-target="#search-bar-popup"
                    hx-swap="outerHTML show:none"
                    hx-push-url="false">
                    {{.Data.CSRFTokenInput}}
                    {{if not .HasTrack}}
                        <button type="submit" class="button is-warning is-fullwidth my-2">Broken</button>
                    {{else if and .Data.CanRequest .Requestable}}
                        <button type="submit" class="button is-primary is-fullwidth my-2" name="id" value="{{.TrackID}}" onclick="event.stopPropagation()">Request</button>
                    {{else}}
                        <button type="submit" class="button is-danger is-fullwidth my-2" name="id" value="{{.TrackID}}" onclick="event.stopPropagation()" disabled>Request</button>
                    {{end}}
                </form>
            {{end}}
            </div>
        </div>
        {{end}}
    {{else}}
        <div>No search results</div>
    {{end}}
{{end}}
</div>
{{end}}