{{define "content"}}
<section class="section">
    <div class="container">
        <div id="page-submit" class="content fixed-grid has-2-cols-fullhd has-1-cols-mobile">
            {{$cooldown := CalculateSubmissionCooldown .Stats.LastSubmissionTime}}
            {{if or (or (eq $cooldown 0) (.IsUser)) (.Form.IsDaypass)}}
            <div id="submit-cooldown" class="notification one-time-notification is-primary has-text-centered mb-6" data-storage-key="notification-youcanupload" data-run-on-load="showOrHideOnLoad">
                <button class="delete"></button>
                You can upload a song
            </div>
            {{else}}
            <div id="submit-cooldown" class="notification is-danger has-text-centered mb-6">
                You cannot upload another song just yet. You can upload <time datetime="{{(Now.Add $cooldown).Unix}}" data-type="pretty">{{PrettyDuration $cooldown}}</time>.
            </div>
            {{end}}
            <div class="grid">
                <div class="cell is-flex is-flex-direction-column">
                    <div class="box has-background-radio-secondary-1 is-flex-1">
                        <p class="has-text-centered">
    		    			<strong>Uploading</strong>
    		    		</p>
                        <ul>
                            <li>VERY IMPORTANT: Search first to make sure that the song isn't already in the database!</li>
                            <li>Low quality uploads are likely to be declined if it's obvious better quality versions are available</li>
                            <li>Anything below 192kbps is rejected. Do not upload YouTube rips.</li>
                            <li>Please include as much information as possible in the comment field, especially source (name of the anime, VN, game). If there is no source work, please mention this.</li>
                            <li><a href="/help#song-submission-guidelines" hx-boost="true" hx-push-url="true" hx-target="#content">Why did my submission get declined?</a></li>
    		    		</ul>
    		    	</div>
                    <div class="box has-background-radio-secondary-1 is-flex-1">
    		    		<p class="has-text-centered">
    		    			<strong>Tagging</strong>
    		    		</p>
                        <ul>
                            <li>Artist and title are required; at least put them in the comment, if not in the artist and title tags.</li>
                            <li>Avoid Japanese characters unless it's absolutely necessary. Uploads with too much kana/kanji may be declined.</li>
                            <li>Do not include character names or "CV" notation; vocalists only.</li>
                            <li>If you can remember, please include where you downloaded the file from</li>
                            <li><a href="https://static.r-a-d.io/exci/good-comment.png">An example of a good comment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell">
                    <div class="fixed-grid box is-fullheight has-1-cols has-background-radio-secondary-1" data-oncooldown="{{if or (or (eq $cooldown 0) (.IsUser)) (.Form.IsDaypass)}}false{{else}}true{{end}}">
                        {{template "form_submit" .Form}}
                    </div>
                </div>
            </div>
            <div class="box has-background-radio-secondary-1 has-text-centered">There are currently {{.Stats.CurrentPending}} pending tracks awaiting approval.</div>
            <div class="grid">
                <div class="cell">
                    <div class="box has-background-radio-secondary-1">
                        <div class="has-text-success has-text-centered">
                            <h2>Accepts</h2>            
                            <div>{{.Stats.AcceptedTotal}} accepted submissions.</div>
                            <div>{{.Stats.AcceptedLastTwoWeeks}} accepted in the last 2 weeks.</div>
                            <div>{{.Stats.AcceptedYou}} accepted submissions from (You).</div>
                        </div>
                        <div class="mt-5">
                            {{range $song := .Stats.RecentAccepts}}
                            <p class="has-text-centered has-border-top pt-5 pb-2 mt-2 mb-4">{{$song.Metadata}}</p>
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="box has-background-radio-secondary-1">
                        <div class="has-text-danger has-text-centered mb-5">
                            <h2>Declines</h2>
                            <div>{{.Stats.DeclinedTotal}} declined submissions.</div>
                            <div>{{.Stats.DeclinedLastTwoWeeks}} declined in the last 2 weeks.</div>
                            <div>{{.Stats.DeclinedYou}} declined submissions from (You).</div>
                        </div>
                        {{range $song := .Stats.RecentDeclines}}
                        {{if $song.DeclineReason }}
                        <div class="columns has-border-top pt-3 pb-1 mt-0 mb-2">
                            <div class="column is-align-content-center">
                                <p class="has-text-centered">{{$song.Metadata}}</p>
                            </div>
                            <div class="column is-align-content-center">
                                <p class="has-text-centered has-text-danger">{{$song.DeclineReason}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}