{{block "full-page" .}}
<!DOCTYPE html>
<html style="height:100%;">
{{block "full-head" .}}
<head>
    <meta charset="utf-8">
    <title>{{block "title" .}}R/a/dio{{end}}</title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/logo_image_small.png" type="image/png">
    <link rel="search" type="application/opensearchdescription+xml" title="r/a/dio" href="/assets/opensearch.xml">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/htmx-sse.js"></script>
    <script src="/assets/js/htmx-head.js"></script>
    <script src="/assets/js/radio.js"></script>
    <meta name="htmx-config"
        content='{"responseHandling":[{"code":"204", "swap": false}, {"code":"[23]..", "swap": true}, {"code":"[4]..", "swap": true, "error": true}, {"code": "500", "swap": true, "error": true}]}' />
    {{ block "head" . }}{{end}}
    {{ block "scripts" . }}{{end}}
    {{ block "styles" .}}{{end}}
</head>
{{end}}
<body {{block "full-page-body" .}}{{end}} style="display:flex;flex-direction:column;height:100%;" hx-ext="head-support" hx-indicator="#loading-indicator">
    {{with .StreamURL}}
    <div id="player" style="display: none;">
        <audio id="stream-audio" preload="none">
            <source src="{{.}}" type="audio/mpeg" />
        </audio>
    </div>
    {{end}}

    <div id="content" hx-history-elt>
    {{block "partial-page" .}}
        {{if .IsHTMX}}{{template "full-head" .}}{{end}}
        {{ block "navbar" . }}{{end}}
        <div id="error-container">
        {{ block "error-template" . }}{{end}}
        </div>
        {{ block "content" . }}{{end}}
    {{end}}
    </div>
{{template "preferences"}}
{{template "footer"}}
</body>
</html>
{{end}}
{{define "preferences"}}
<div id="prefs-modal" class="modal">
    <div class="modal-background" onclick="removeClassOnClick(this)" data-target="prefs-modal" data-class="is-active"></div>
    <div class="modal-content">
        <div id="preferences" class="block column fixed-grid has-background-radio-secondary-1">
            <div class="grid">
                <div class="cell is-col-span-2 tabs is-fullwidth">
                    <ul>
                      <li class="is-active"><a>Theme</a></li>
                      <li><a>Something else</a></li>
                    </ul>
                </div>
                <div id="preferences-theme-content" class="cell is-col-span-2">
                    <div id="grid">
                        <div class="cell is-col-span-2 has-text-centered mb-4">Click one the buttons below the select the site theme.</div>
                        <div class="cell is-col-span-2">
                            <div class="grid">
                                <a class="cell" hx-boost="true" hx-push-url="false" href="/set-theme?theme=default-light"><button class="button is-fullwidth">Light</button></a>
                                <a class="cell" hx-boost="true" hx-push-url="false" href="/set-theme?theme=default-dark"><button class="button is-fullwidth">Dark</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    </div>
    <button data-target="prefs-modal" data-class="is-active" onclick="removeClassOnClick(this)" class="modal-close is-large" aria-label="close"></button>
</div>
{{end}}
