{{block "full-page" .}}
<!DOCTYPE html>
<html style="height:100%;">
{{block "full-head" .}}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="r/a/dio" />
    <meta name="description" content="online anime/japanese music radio stream" />
    <link rel="manifest" href="/assets/manifest.json" />
    <title>{{block "title" .}}R/a/dio{{end}}</title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="icon" href="/assets/images/logo_image_small.png" type="image/png" />
    <link rel="search" type="application/opensearchdescription+xml" title="r/a/dio" href="/assets/opensearch.xml" />
    <script src="{{WithVersion "/assets/js/htmx.min.js"}}"></script>
    <script src="{{WithVersion "/assets/js/htmx-sse.js"}}"></script>
    <script src="{{WithVersion "/assets/js/htmx-head.js"}}"></script>
    <script src="{{WithVersion "/assets/js/radio.js"}}"></script>
    <meta name="htmx-config"
        content='{"responseHandling":[{"code":"204", "swap": false}, {"code":"[23]..", "swap": true}, {"code":"[4]..", "swap": true, "error": true}, {"code": "500", "swap": true, "error": true}]}' />
    {{ block "head" . }}{{end}}
    {{ block "scripts" . }}{{end}}
    {{ block "styles" .}}{{end}}
</head>
{{end}}
<body {{block "full-page-body" .}}{{end}} style="display:flex;flex-direction:column;height:100%;" hx-ext="head-support" hx-indicator="#loading-indicator">
    {{with .StreamURL}}
    <div id="player" style="display: none;">
        <audio id="stream-audio" preload="none">
            <source src="{{.}}" type="audio/mpeg" />
        </audio>
    </div>
    {{end}}

    <div id="content" hx-history-elt>
    {{block "partial-page" .}}
        {{if .IsHTMX}}{{template "full-head" .}}{{end}}
        {{ block "navbar" . }}{{end}}
        <div id="error-container">
        {{ block "error-template" . }}{{end}}
        </div>
        {{ block "content" . }}{{end}}
    {{end}}
    </div>
{{template "preferences"}}
{{template "footer"}}
</body>
</html>
{{end}}
{{define "preferences"}}
<div id="prefs-modal" class="modal">
    <div class="modal-background" onclick="removeClassOnClick(this)" data-target="prefs-modal" data-class="is-active"></div>
    <div class="modal-content">
        <div id="preferences-notification-notifications-reset" class="notification notification-temporary is-success has-text-centered is-hidden">
            Notifications have been reset.
        </div>
        <div id="preferences" class="block column fixed-grid has-background-radio-secondary-1">
            <div class="fixed-grid has-2-cols">
                <div class="grid mb-5">
                    <label class="cell is-clickable" for="theme-tab">
                        <div class="on-hover-darken has-background-radio-secondary-3 has-centered-content is-clickable p-2">               
                            Theme
                        </div>
                    </label>
                    <label class="cell is-clickable" for="other-settings-tab">
                        <div class="on-hover-darken has-background-radio-secondary-3 has-centered-content is-clickable p-2">               
                            Other settings
                        </div>
                    </label>
                </div>

                <input type="radio" name="tab" id="theme-tab" class="tab-input" checked>
                <input type="radio" name="tab" id="other-settings-tab" class="tab-input">

                <div id="preferences-theme-content" class="cell is-col-span-2 tab-content">
                    <div class="fixed-grid has-1-cols">
                        <div class="grid">
                            <div class="cell has-text-centered mb-4">Click one the buttons below the select the site theme.</div>
                            <div class="cell">
                                <div class="grid">
                                    <a class="cell" hx-boost="true" hx-push-url="false" href="/set-theme?theme=default-light"><button class="button is-fullwidth">Light</button></a>
                                    <a class="cell" hx-boost="true" hx-push-url="false" href="/set-theme?theme=default-dark"><button class="button is-fullwidth">Dark</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="preferences-other-settings" class="cell is-col-span-2 tab-content">
                    <div class="fixed-grid has-1-cols">
                        <div class="grid">
                            <!-- Reset Notifications -->
                            <button class="cell button" onclick="preferencesResetNotifications()">Reset all notifications</button>
                            <hr class="my-1">                
                            <!-- Select Font -->
                            <div class="field">
                                <label class="label">Select Font</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="fontSelector" onchange="localStorage.setItem('preferredFont', this.value); document.documentElement.style.setProperty('--bulma-family-primary', this.value); loadFonts();">
                                            <option value="Default">Default</option>
                                            <option value="Old">Old</option>
                                            <option value="monospace">monospace</option>
                                        </select>
                                        <script>document.getElementById("fontSelector").value = localStorage.getItem("preferredFont") || document.getElementById("fontSelector").options[0].value;</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    </div>
    <button data-target="prefs-modal" data-class="is-active" onclick="removeClassOnClick(this)" class="modal-close is-large" aria-label="close"></button>
</div>
{{end}}
