{{block "full-page" .}}
<!DOCTYPE html>
<html>
{{block "full-head" .}}
<head>
    <meta charset="utf-8">
    <title>{{block "title" .}}R/a/dio{{end}}</title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/logo_image_small.png" type="image/png">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/htmx-sse.js"></script>
    <script src="/assets/js/htmx-head.js"></script>
    <script src="/assets/js/radio.js"></script>
    {{ block "head" . }}{{end}}
    {{ block "scripts" . }}{{end}}
    {{ block "styles" .}}{{end}}
</head>
{{end}}
<body {{block "full-page-body" .}}{{end}} style="padding-bottom: 60px;" hx-ext="head-support">
    {{with .StreamURL}}
    <div id="player" style="display: none;">
        <audio id="stream-audio" preload="none">
            <source src="{{.}}" type="audio/mpeg" />
        </audio>
    </div>
    {{end}}
    <div id="content" hx-history-elt>
    {{block "partial-page" .}}
        {{if .IsHTMX}}{{template "full-head" .}}{{end}}
        {{ block "navbar" . }}{{end}}
        {{ block "content" . }}{{end}}
    {{end}}
    </div>
    <a hx-boost="true" hx-push-url="false" href="/set-theme?theme=default-light">Light</a>
    <a hx-boost="true" hx-push-url="false" href="/set-theme?theme=default-dark">Dark</a>
</body>
</html>
{{end}}