{{define "admin_player"}}
<div id="admin-player-container" style="position:fixed; bottom: var(--bulma-navbar-height); z-index: 2; background: rgba(0, 0, 0, 0.3); width: 100%" >
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-narrow">
                <button id="admin-player-play" class="button tag" onclick="adminPlayerPlayPause()" title="Play/Pause">▶️</button>
            </div>
            <div class="column is-hidden-mobile is-4 is-align-content-center">
                <input id="admin-player-progress" type="range" value="0" style="width:100%"></input>
            </div>
            <div id="admin-player-time" class="column is-hidden-mobile is-1 is-align-content-center">
                0:00/0:00
            </div>
            <div class="column is-2 is-align-content-center">
                <input id="admin-player-volume" hx-preserve class="volume-input" type="range" value="10" style="width:100%"></input>
            </div>
        </div>
    </div>
</div>
<div id="admin-player-spec-modal" class="modal">
    <div class="modal-background" onclick="removeClassOnClick(this)" data-target="admin-player-spec-modal" data-class="is-active"></div>
    <div class="modal-content">
        <p class="image">
            <img id="admin-player-spec-image" src="" alt="">
        </p>
    </div>
</div>
{{end}}
