{{define "head"}}
<link rel="stylesheet" href="/assets/tuicss/css/tuicss.min.css">
<link rel="stylesheet" href="/assets/tuicss/css/main.css">
<script src="/assets/tuicss/js/tuicss.min.js"></script>
{{end}}