{{define "public-navbar"}}
<nav class="tui-nav" {{.NavBar.Attr}}>
    <span id="tui-navbar-time" hx-preserve class="tui-datetime" data-format="H:m:s y/M/d"></span>
    <ul>
        {{range .NavBar.Values}}
            <li><a {{.Attr}}>{{.Name}}</a></li>
        {{end}}
    </ul>
</nav>
{{end}}