{{define "form_admin_pending"}}
<div class="cell pending-entry box" hx-target="this">
    <form class="{{if len .Errors}}is-warning {{end}}fixed-grid has-12-cols" method="post" hx-post="/admin/pending" hx-swap="outerHTML swap:1s">
        <input class="is-hidden" type="number" name="id" value="{{.ID}}">
        {{.CSRFTokenInput}}
        <div class="grid">
            <div class="cell">
                <div class="grid is-fullheight">
                    <div class="cell button is-small is-info adminPlayerPlayPauseButton" onclick="togglePlayPauseAdmin(this, '{{.ID}}')" style="cursor:pointer;" data-state="Play">Play</div>
                    <div class="cell button is-small is-warning" onclick="adminShowSpectrogram('/admin/pending-song/{{.ID}}')">Show Spec</div>
                    <a class="cell button is-small is-success" href="/admin/pending-song/{{.ID}}">Download</a>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell field">
                        <label class="label is-small">Artist</label>
                        <div class="control field">
                            <input class="input is-small" name="artist" type="text" value="{{.Artist}}" placeholder="Artist">
                        </div>
                        <label class="label is-small">Filename</label>
                        <div class="control field">
                            <span class="input is-small is-fullheight is-fullwidth" style="cursor:unset;" disabled>{{.Filename}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell field">
                        <label class="label is-small">Title</label>
                        <div class="control field">
                            <input class="input is-small" name="title" type="text" value="{{.Title}}" placeholder="Title">
                        </div>
                        <label class="label is-small">Submitter</label>
                        <div class="control field">
                            <div class="input is-small is-fullheight is-fullwidth" style="cursor:unset;" disabled>{{.UserIdentifier}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell is-col-span-1">
                        <label class="label is-small">Album</label>
                        <div class="control field">
                            <input class="input is-small" name="album" type="text" value="{{.Album}}" placeholder="Album">
                        </div>
                        <label class="label is-small">Comment</label>
                        <div class="control field">
                            <div class="input is-small" style="scrollbar-width:none;resize:none;min-height:unset;overflow:auto;cursor:unset;" disabled>{{.Comment}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell is-col-span-1">
                        <label class="label is-small">Tags</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" name="tags" type="text" placeholder="Tags">
                            </div>
                            <div class="control">
                                <button class="button is-small is-success" style="height:calc(2rem - 2px);" type="submit" name="action" value="accept">Accept</button>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="grid">
                        <div class="cell">
                                <label class="label is-small">Size</label>
                                <div class="input is-small" style="cursor:unset;" disabled><span class="is-fullwidth">{{SongFileSize .PendingSong}}, {{HumanDuration .Length}}</span></div>
                            </div>
                            <div class="cell">
                                <label class="label is-small">Bitrate</label>
                                <div class="input is-small" style="cursor:unset;" disabled><span class="is-fullwidth">{{Div .Bitrate 1000}}kbps vbr</span></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="grid is-fullheight">
                    <a class="cell button is-small" href="https://www.google.com/search?q={{.Metadata}}" target="_blank">Google (Metadata)</a>
                    <a class="cell button is-small" href="https://www.youtube.com/results?search_query={{.Metadata}}" target="_blank" class="cell button is-small">Youtube (Metadata)</a>
                    <a class="cell button is-small" href="" target="_blank" class="cell button is-small">Custom Search</a>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell field is-col-span-2">
                        <label class="label is-small">Song ID for replacing</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" type="text" name="replacement" {{with .ReplacementID}}value="{{.}}"{{end}} placeholder="Song Identifier">
                            </div>
                            <div class="control">
                                <button class="button is-small is-warning" style="margin-top:-1px;height:calc(2rem - 2px);" type="submit" name="action" value="replace">Replace</button>
                            </div>
                        </div>
                        <label class="label is-small">Reason for declining</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" name="reason" type="text" placeholder="Reason">
                            </div>
                            <div class="control">
                                <button class="button is-small is-danger" style="margin-top:-1px;height:calc(2rem - 2px);" type="submit" name="action" value="decline">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{{end}}
