{{define "form_admin_pending"}}
<div class="cell pending-entry box" hx-target="this">
    <form class="{{if len .Errors}}is-warning {{end}}fixed-grid has-12-cols" method="post" hx-post="/admin/pending" hx-swap="outerHTML swap:1s">
        <input class="is-hidden" type="number" name="id" value="{{.ID}}">
        {{.CSRFTokenInput}}
        <div class="grid">
            <div class="cell">
                <div class="grid is-fullheight">
                        <button class="cell button is-small is-info" onclick="adminPlayerPlay('/admin/pending-song/{{.ID}}')" style="cursor:pointer;">Play</button>
                        <button id="admin-player-spec" class="cell button is-small is-warning">Show Spec</button>
                        <button class="cell button is-small is-success"><a href="/admin/pending-song/{{.ID}}" style="cursor:pointer;color:unset;">Download</a></button>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell field">
                        <label class="label is-small">Artist</label>
                        <div class="control field">
                            <input class="input is-small" name="artist" type="text" value="{{.Artist}}" placeholder="Artist">
                        </div>
                        <label class="label is-small">Filename</label>
                        <div class="control field">
                            <span class="input is-small is-fullheight is-fullwidth" style="cursor:unset;" disabled>{{.Filename}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell field">
                        <label class="label is-small">Title</label>
                        <div class="control field">
                            <input class="input is-small" name="title" type="text" value="{{.Title}}" placeholder="Title">
                        </div>
                        <label class="label is-small">Submitter</label>
                        <div class="control field">
                            <div class="input is-small is-fullheight is-fullwidth" style="cursor:unset;" disabled>{{.UserIdentifier}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell is-col-span-1">
                        <label class="label is-small">Album</label>
                        <div class="control field">
                            <input class="input is-small" name="album" type="text" value="{{.Album}}" placeholder="Album">
                        </div>
                        <label class="label is-small">Comment</label>
                        <div class="control field">
                            <div class="input is-small" style="scrollbar-width:none;resize:none;min-height:unset;overflow:auto;cursor:unset;" disabled>{{.Comment}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-3">
                <div class="grid">
                    <div class="cell is-col-span-1">
                        <label class="label is-small">Tags</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" name="tags" type="text" placeholder="Tags">
                            </div>
                            <div class="control">
                                <button class="button is-small is-success" style="height:calc(2rem - 2px);" type="submit" name="action" value="accept">Accept</button>
                            </div>
                        </div>
                        <label class="label is-small">File Info</label>
                        <div class="grid control field">
                            <div class="cell input is-small" style="cursor:unset;" disabled><span class="is-fullwidth">Length: {{HumanDuration .Length}}</span></div>
                            <div class="cell input is-small" style="cursor:unset;" disabled><span class="is-fullwidth">Size: {{SongFileSize .PendingSong}}</span></div>
                            <div class="cell input is-small" style="cursor:unset;" disabled><span class="is-fullwidth">Bitrate: {{Div .Bitrate 1000}}kbps vbr</span></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="grid">
                    <div class="cell field is-col-span-2">
                        <label class="label is-small">Song ID for replacing</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" type="text" name="replacement" {{with .ReplacementID}}value="{{.}}"{{end}} placeholder="Song Identifier">
                            </div>
                            <div class="control">
                                <button class="button is-small is-warning" style="margin-top:-1px;height:calc(2rem - 2px);" type="submit" name="action" value="replace">Replace</button>
                            </div>
                        </div>
                        <label class="label is-small">Reason for declining</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" name="reason" type="text" placeholder="Reason">
                            </div>
                            <div class="control">
                                <button class="button is-small is-danger" style="margin-top:-1px;height:calc(2rem - 2px);" type="submit" name="action" value="decline">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{{end}}
