{{define "form_profile"}}
<form hx-post="{{.FormAction}}" {{.FormType}}>
    {{.CSRFTokenInput}}
{{if .Errors}}
    <div class="notification is-warning">
        {{.Errors}}
    </div>
{{end}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="field-label" for="username">Username:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="text" name="username" value="{{.Username}}" required disabled>
            <input type="hidden" name="username" value="{{.Username}}">
        </div></div></div>
    </div>
    {{if .IsSelf}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Change password:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="password" name="password.current" placeholder="current password">
        </div></div></div>
    </div>
    {{end}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">{{if not .IsSelf}}Change password:{{end}}</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="password" name="password.new" placeholder="new password">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label"></label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="password" name="password.repeated" placeholder="repeated password">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Permissions:</label>
        </div>
        <div class="field-body"><div class="field">
            <ul class="control tags" id="permissions">
            {{range .PermissionList}}
                <li class="tag">
                    <input class="checkbox mr-2" id="perm-{{.Perm}}"
                        autocomplete="off"
                        type="checkbox"
                        name="permissions"
                        value="{{.Perm}}" 
                {{if .Checked}}checked{{end}}
                {{if .Disabled}}disabled{{end}}>
                    <label class="checkbox" for="perm-{{.Perm}}">{{.Perm}}</label>
                </li>
            {{end}}
            </ul>
        </div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="ip">IP Address:</label>
        </div>
        <div class="field-body"><div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" name="ip" value="{{.IP}}">
            </div>
            <div class="control is-static">
                <button class="button" type="button" onclick="document.querySelector('input[name=ip]').value = '{{.CurrentIP}}'">(You)</button>
            </div>
        </div></div>
    </div>
{{if (ne .DJ.ID 0)}}
    <div></div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj.visible">Visible?</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="checkbox" autocomplete="off" type="checkbox" name="dj.visible" {{if .DJ.Visible}}checked{{end}}>
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj.priority">Priority:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="number" name="dj.priority" value={{.DJ.Priority}}>
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj.name">DJ name:</label>
        </div>
        <div class="field-body">
        <div class="field"><div class="control">
            <input class="input" type="text" name="dj.name" value="{{.DJ.Name}}">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj.text">Schedule text:</label>
        </div>
        <div class="field-body">
        <div class="field"><div class="control">
            <input class="input" type="text" name="dj.text" value="{{.DJ.Text}}">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj.image">DJ Image:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="file" name="dj.image">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Current image:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <img src="/api/dj-image/{{.DJ.Image}}" alt="current DJ image" style="max-width:300px;">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj.regex">Nickname Regex:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <input class="input" type="text" name="dj.regex" value="{{.DJ.Regex}}">
        </div></div></div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="dj.theme.name">Theme:</label>
        </div>
        <div class="field-body"><div class="field"><div class="control">
            <div class="select">
                <select name="dj.theme.name" autocomplete="off">
                    <option value="">None</option>
                {{range PublicThemes}}
                    <option {{if eq .Name $.DJ.Theme}}selected{{end}} value="{{.Name}}">{{.DisplayName}}</option>
                {{end}}
                </select>
            </div>
        </div></div></div>
    </div>
    {{end}}
    {{if (and .IsAdmin (eq .DJ.ID 0))}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label></label>
        </div>
        <div class="field-body"><div class="field">
            <button class="button" type="button" hx-target="closest form" hx-post="{{.AddDJProfileURL}}">Add DJ Profile</button>
        </div></div>
    </div>
    {{end}}
    <div class="field is-horizontal">
        <div class="field-label">
            <label></label>
        </div>
        <div class="field-body"><div class="field">
            <button class="button" type="submit">Save Changes</button>
        </div></div>
    </div>
</form>
{{end}}