{{define "content"}}
<div class="container" hx-ext="sse" sse-connect="/admin/booth/sse">
    <div class="section">
        <div id="booth-notification-killed-hanyuu" class="notification notification-temporary is-success has-text-centered is-hidden mb-6">
            Tried killing Hanyuu, connect before the song ends.
        </div>
        <div class="fixed-grid has-10-cols">
            <div class="grid">
                <div class="cell fixed-grid has-8-cols is-col-span-8">
                    <div class="grid">
                        <div class="cell is-flex is-col-span-4 is-row-span-1 is-size-3 is-family-code is-justify-content-center is-align-self-center m-0" style="font-variant:ordinal;">STREAMBOOTH</div>
                        <div class="cell is-flex box is-col-span-2 is-row-span-1 is-justify-content-center is-align-self-center has-background-radio-secondary-1 has-text-weight-light m-0 py-2">
                            <span class="is-uppercase is-box-title">Username</span>{{with .User}}{{.Username}}{{end}}
                        </div>
                        <div class="cell is-flex box is-col-span-2 is-row-span-1 is-justify-content-center is-align-self-center has-background-radio-secondary-1 has-text-weight-light m-0 py-2">
                            <span class="is-uppercase is-box-title">Display Name</span>{{with .User}}{{.DJ.Name}}{{end}}</div>
                        <div class="cell is-col-span-8 is-row-span-1 m-3">
                            <div sse-swap="proxy-status" class="columns is-size-7 is-family-code ">
                            {{template "proxy-status" .ProxyStatus}}
                            </div>
                        </div>
                        <div class="cell is-col-span-8 is-row-span-2 has-background-radio-secondary-1 m-0 p-0">
                            <span class="is-uppercase is-box-title">Set Thread</span>
                            <div id="set-thread" sse-swap="thread" class="box has-text-centered is-flex-direction-column p-4">
                            {{template "set-thread" .ThreadInfo}}
                            </div>
                        </div>
                        <div class="cell is-flex is-flex-direction-column is-col-span-8 is-row-span-3">
                            <div class="tabs is-boxed mb-0">
                                <ul>
                                    <li class="is-active"><a class="tab-button" data-target="streaming-info" onclick="switchTab(this)">Stream Settings</a></li>
                                    <li><a class="tab-button" data-target="irc-info" onclick="switchTab(this)">IRC Commands</a></li>
                                    <li><a class="tab-button" data-target="connection-info" onclick="switchTab(this)">Connection Info</a></li>
                                    <li><a class="tab-button" data-target="request-helper-info" onclick="switchTab(this)">Request Helper</a></li>
                                </ul>
                            </div>
                            <div class="box is-flex-1 has-background-radio-secondary-1 remove-top-border-radius">
                                <div id="streaming-info" class="grid mb-0">
                                    <div class="content cell is-col-span-8">
                                        <div class="block is-hidden-touch">
                                            <span class="is-uppercase is-box-title">Protip</span>
                                            <blockquote>First time? Hover over the spoiler to the right! <span class="is-size-4 is-pulled-right is-spoiler" style="margin-top:-0.25rem;margin-right:-0.75rem;">READ EVERYTHING</span></blockquote>
                                        </div>
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Sample Rate</span>
                                            <blockquote>Sample Rate MUST be 44100 (44.1kHz).</blockquote>
                                        </div>
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Loopstream Warning</span>
                                            <blockquote>
                                                If you are using Loopstream and it is yelling at you, either fix your audio devices or ignore the warning. The warning is (was?) overblown and the audio is not actually low-quality.
                                            </blockquote>
                                        </div>
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Codec</span>
                                            <blockquote>Codec must be MP3.</blockquote>
                                        </div>
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Bitrate</span>
                                            <blockquote>Bitrate should be 192kbps. No lower, preferrably not higher for consistency.</blockquote>
                                        </div>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">Audio Routing</span>
                                            <dl>
                                                <dt>If you are using Loopstream, set up audio routing if possible.</dt>
                                                <dd>This does require two usable audio output devices. If you only have one, and don't feel comfortable finding and setting up a Virtual Audio Cable program, don't bother.</dd>
                                                <dd>You can test your audio setup by setting the address field in the Server tab of the settings to blank.</dd>
                                                <dd>Doing so will fake a connection when you press Connect on the main window. Don't forget to re-set the address to the stream server after.</dd>
                                            </dl>
                                        </blockquote>
                                    </div>
                                </div>
                                <div id="irc-info" class="grid is-hidden">
                                    <div class="content cell is-col-span-8">
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Protip</span>
                                            <blockquote>Commands should be used in the main IRC channel. That's the stuff prefixed with a dot, such as <code>.thread</code>.</blockquote>
                                        </div>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">Before Connecting</span>
                                            <dl>
                                                <dt>Use <code>.kill</code> or the <code>Kill Hanyuu</code> button to the right to make Hanyuu-sama stop streaming</dt>
                                                <dd>only needed if Hanyuu is the current DJ.</dd>
                                                <dd><code>connect</code> when there are <strong style="color:lightcoral;">30 seconds or more</strong> left in the current song but <strong>DO NOT</strong> start your music.</dd>
                                                <dd>you <strong>can</strong> <code>connect</code> and <code>kill</code> <strong>at any point</strong> during a song as long as you are prepared to start playing when it ends.</dd>
                                                <dd>you <strong>should</strong> <code>kill</code> while there is <strong style="color:lightcoral;">at least 15 seconds</strong> left in the current song to be safe.</dd>
                                                <dd>you can see how much time is left in the current song on this page.</dd>
                                                <dd>start playing your music when you're <code>connected</code>, have <code>killed</code> (if hanyuu was on), and the current song ends.</dd>
                                            </dl>
                                        </blockquote>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">When You Connect</span>
                                            <dl>
                                                <dt>Use of <code>.dj</code> before you connect is <strong>no longer necessary</strong></dt>
                                                <dd>you will be set as DJ when you go live on the stream automatically</dd>
                                                <dd><strong style="color:lightcoral;">you still need to use the below command to set Hanyuu-sama after you're done.</strong></dd>
                                            </dl>
                                        </blockquote>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">After You're Done</span>
                                            <dl>
                                                <dt>Use <code>.dj hanyuu</code> to set Hanyuu-sama as DJ when you are done streaming.</dt>
                                                <dd>you can do this before you disconnect, as long as there is less than one minute left in your set.</dd>
                                                <dd>Hanyuu will then take over the stream after you have disconnected.</dd>
                                            </dl>
                                        </blockquote>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">Setting Thread</span>
                                            <dl>
                                                <dt>Use <code>.thread [thread]</code> to set the thread, with <code>[thread]</code> changed to what you want to set.</dt>
                                                <dd>example: <code>.thread https://fake.imageboard.net/a/8169743</code></dd>
                                                <dd>using <code>.thread none</code> unsets the thread</dd>
                                                <dd>you can also set the thread on this page</dd>
                                            </dl>
                                        </blockquote>
                                    </div>
                                </div>
                                <div id="connection-info" class="grid is-hidden">
                                    <div class="content cell is-col-span-8">
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Address and Port</span>
                                            {{with .BoothStreamURL}}
                                            <blockquote>The connection address is <b>{{.Hostname}}</b> and the port is <b>{{.Port}}</b>.</blockquote>
                                            {{else}}
                                            <blockquote>The connection address is not configured by the admins.</blockquote>
                                            {{end}}
                                        </div>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">Mountpoint</span>
                                            <dl>
                                                <dt>The mountpoint depends on which software you are using to connect.</dt>
                                                <dd>for <strong>Loopstream</strong>, this is <code>mountpoint</code></dd>
                                                <dd>if using <strong>VirtualDJ</strong>, this is <code>mountpoint.mp3</code></dd>
                                                <dd>it might even be <code>/mountpoint[.mp3]</code> with the preceding <code>/</code>, though this is unlikely</dd>
                                                <dd>replace<code>mountpoint</code> with the actual mountpoint: <code>main</code> for streaming and <code>test</code> for testing.</dd>
                                                <dd>when streaming to the <code>test</code> mount, you can listen to the stream <a href="#" target="_blank" onclick="window.open('//relay1.' + window.location.hostname + '/test.mp3'); return false;">here</a>.</dd>
                                            </dl>
                                        </blockquote>
                                    </div>
                                </div>
                                <div id="request-helper-info" class="grid is-hidden">
                                    {{template "request-helper"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell fixed-grid has-2-cols is-col-span-2">
                    <div class="grid">
                        <div class="cell is-flex is-col-span-2 is-row-span-3 is-justify-content-center is-align-self-center has-text-weight-light m-0 p-0">
                            <span class="is-uppercase is-box-title">Current DJ</span>
                            <div class="box is-fullwidth pb-0">
                                <div sse-swap="streamer" class="">
                                {{template "streamer" .Status.StreamUser}}
                                </div>
                            </div>
                        </div>
                        <div sse-swap="status" class="cell columns is-multiline is-flex box is-col-span-2 is-row-span-1 is-justify-content-center is-align-self-center has-background-radio-secondary-1 has-text-weight-light has-word-break-all m-0 p-4 pt-5">
                            {{block "status" Status}}
                            <span class="is-uppercase is-box-title">Current Song</span>
                            <div class="column now-playing is-12">{{.Song.Metadata}}</div>
                            <div class="column is-12">
                                {{$progress := .SongInfo.Start | Since}}
                                <div class="progress-container is-fullwidth">
                                    <div class="progress-wrapper">
                                        <progress id="current-song-progress" class="progress is-large m-0" value="{{$progress | ToSecond}}" max="{{.Song.Length.Seconds}}" style="border:1px solid rgba(255,255,255,0.1);padding:1px;"></progress>
                                        <div class="progress-text">{{with .}}<span id="progress-current" data-start="{{.SongInfo.Start.UnixMilli}}">{{$progress | MediaDuration}}</span> / <span id="progress-max">{{.Song.Length | MediaDuration}}</span>{{end}}</div>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                        <div class="cell is-col-span-2 is-row-span-1 m-0 p-0">
                            <div id="stop-streamer" sse-swap="stop-streamer" class="columns has-text-centered is-flex-direction-column has-background-radio-secondary-1 m-0 p-0">
                            {{template "stop-streamer" .StreamerInfo}}
                            </div>
                        </div>
                        <div sse-swap="proxy-streamers" class="cell is-col-span-2 m-0 p-0">
                            {{template "proxy-streamers" .StreamerList}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "streamer"}}
    {{with .}}
    <div class="card-image">
        <figure class="image is-square">
            <img src="/api/dj-image/{{.DJ.Image}}"/>
        </figure>
    </div>
    <div id="dj-name-booth" class="has-text-centered has-background-radio-secondary-1">{{.DJ.Name}}</div>
    {{else}}
    <div id="dj-name-booth" class="has-text-centered has-background-radio-secondary-1">NOBODY</div>
    {{end}}
{{end}}

{{define "stop-streamer"}}
    <span class="is-uppercase is-box-title">Kill Stream</span>
    {{if not Status.StreamUser}}
        <p class="column p-4 is-warning">Nobody is currently streaming</p>
    {{else if .UserIsLive}}
        <p class="column p-4 is-success">You are currently streaming</p>
    {{else if .CurrentIsRobot}}
        <p class="column p-4">This kills the Hanyuu. You must connect within <b style="color:lightcoral">{{.ConnectTimeout}}</b> after the song ends.</p>
        <form hx-post="{{.FormAction}}" hx-target="#stop-streamer">
            {{.CSRFTokenInput}}
            <button type="submit" class="button mt-0 mb-4 mx-4 is-warning" {{if not .AllowedToKill}}disabled{{end}} style="width:calc(100% - 2rem)" hx-on:click="unhideNotification('#booth-notification-killed-hanyuu')">Kill Hanyuu</button>
        </form>
    {{else}}
        <p class="column p-4">Another DJ is currently streaming, communicate with them.</p>
    {{end}}
{{end}}

{{define "set-thread"}}
{{with .}}
    {{if .AllowedToThread}}
    <p class="block">This is the current thread, you can update it here or set an image by prepending 'image:' to an URL</p>
    {{else}}
    <p class="block">You must be authorized to stream to set the thread. If you're already streaming and still can't set the thread, ask for a re-auth.</p>
    {{end}}
    <form hx-post="{{.FormAction}}" hx-target="#set-thread" class="is-align-self-stretch">
        {{.CSRFTokenInput}}
        <div class="field has-addons">
            <div class="control is-expanded">
                <input name="thread" class="input has-text-centered is-fullheight" type="text" placeholder="no thread set currently" value="{{if .Thread | IsValidThread}}{{.Thread}}{{end}}">
            </div>
            <div class="control">
                <button type="submit" class="button booth-button is-align-self-stretch is-info" {{if not .AllowedToThread}}disabled{{end}}>Update</button>
            </div>
        </div>
    </form>
{{end}}
{{end}}

{{define "proxy-status"}}
    {{if and . (len .Connections)}}
        {{range .Connections}}
        <div class="column is-narrow is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0">
            {{if .IsLive}}
                {{template "booth-circle" safeCSS "hsl(121, 40%, 40%)"}}<div class="ml-2">LIVE</div>
            {{else}}
                {{template "booth-circle" safeCSS "hsl(232, 40%, 40%)"}}<div class="ml-2">CONNECTED</div>
            {{end}}<div class="ml-2">at <a href="#" target="_blank" onclick="window.open('//relay1.' + window.location.hostname + '{{.MountName}}'); return false;">{{.MountName}}</a></div>
        </div>
        <div class="column is-narrow box is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0 ml-3">
            {{template "booth-circle" safeCSS "hsl(121, 40%, 40%)"}}<div class="ml-2">Connected for <time data-type="small" datetime="{{.Start.Unix}}">{{.Start | Since | HumanDuration}}</time></div>
        </div>
        <div class="column box is-flex is-align-items-center has-background-radio-secondary-1 mb-0 ml-3" style="white-space:nowrap;overflow-x:auto;scrollbar-width:none;">
        {{with .Metadata}}
            {{template "booth-circle" safeCSS "hsl(121, 40%, 40%)"}}<div class="ml-2" style="overflow:auto;scrollbar-width:none;"><div>{{.}}</div></div>
        {{else}}
            {{template "booth-circle" safeCSS "hsl(232, 40%, 40%)"}}<div class="ml-2" style="overflow:auto;scrollbar-width:none;"><div style="float:left;">[NO METADATA]</div></div>
        {{end}}
        </div>
        {{end}}
    {{else}}
        <div class="column is-narrow is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0">
            <span class="is-uppercase is-box-title">Stream</span>
            {{template "booth-circle" safeCSS "hsl(0, 40%, 40%)"}}<div class="ml-2">NOT CONNECTED</div>
        </div>
        <div class="column is-narrow box is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0 ml-3">
            <span class="is-uppercase is-box-title">Uptime</span>
            {{template "booth-circle" safeCSS "hsl(0, 40%, 40%)"}}<div class="ml-2">NOT CONNECTED</div>
        </div>
        <div class="column box is-flex is-align-items-center has-background-radio-secondary-1 mb-0 ml-3">
            <span class="is-uppercase is-box-title">Metadata</span>
            {{template "booth-circle" safeCSS "hsl(0, 40%, 40%)"}}<div class="ml-2" style="overflow:auto;scrollbar-width:none;"><div style="float:left;">NOT CONNECTED</div></div>
        </div>
    {{end}}
{{end}}

{{define "booth-circle" -}}
<svg class="svg-icon no-hover-darken is-not-clickable" style="color: {{.}};" viewBox="0 0 24 24"><use href="/assets/default-dark/svg/sprites.svg#circle"></use></svg>
{{- end}}

{{define "proxy-streamers"}}
<div class="box p-4">
    <span class="is-uppercase is-box-title">Connected DJs</span>
    <ul id="page-booth-djlist" class="is-flex is-flex-direction-column">
    {{with .}}
        {{range $idx, $streamer := .Streamers}}
        <li class="is-flex is-flex-1"><div class="{{if eq $idx 0}}is-active-dj{{else}}is-not-active-dj{{end}}"></div><div class="is-flex-1 has-text-centered has-word-break-all px-4">{{$streamer.User.Username}}</div></li>
        {{end}}
    {{end}}
    </ul>
</div>
{{end}}

{{define "request-helper"}}
<div class="cell content is-col-span-12" style="width:calc(100% - 3 * var(--bulma-grid-gap))">
    <input type="checkbox" id="toggle-request-helper-explanation" checked/>
    <div class="explanation-container" style="position:relative;">
        <blockquote>
            <span class="is-uppercase is-box-title">Explanation</span>
            <label for="toggle-request-helper-explanation">
                <svg class="svg-icon" data-state="plus" style="position:absolute;right:1rem;top:0.5rem;font-weight:900;">
                    <use href="/assets/default-dark/svg/sprites.svg#plus"></use>
                </svg>
                <svg class="svg-icon" data-state="minus" style="position:absolute;right:1rem;top:0.5rem;font-weight:900;">
                    <use href="/assets/default-dark/svg/sprites.svg#minus"></use>
                </svg>
            </label>
            <dl class="explanation-content">
                <dt>Enter URL of a website and set the timer, then press "start checking"</dt>
                <dd>every (timer value) seconds, the website in the URL will be checked for new /r/s matching the patterns below</dd>
                <dd>you can drag the requests from one box to another</dd>
                <dd>duplicate requests won't be added if they are in any of the boxes</dd>
                <dd>this thing is just for keeping track of requests, it doesn't really do anything else</dd>
                <dd>you usually want to keep the "CORS" checkbox and the url next to it as they are</dd>
                <dd>the test page is <a target="_blank" href="https://static.r-a-d.io/exci/test-requests2.html">here</a></dd>
            </dl>
        </blockquote>
    </div>
</div>
<div class="cell is-col-span-12 control-panel fixed-grid has-12-cols p-0 mb-0">
    <div class="grid" style="width:calc(100% - 2 * var(--bulma-grid-gap))">
        <div class="cell is-col-span-4">
            <div class="grid">
                <div class="cell">
                    <label for="interval" class="is-box-title">Timer (s)</label>
                    <input class="input is-fullwidth mb-2" type="number" id="interval" value="60" min="30" max="600">
                </div>
                <div class="cell">
                    <label for="wordLimit" class="is-box-title">Words after pattern</label>
                    <input class="input is-fullwidth" type="number" id="wordLimit" value="3" min="1" max="6">
                </div>
            </div>
        </div>
        <div class="cell is-col-span-2">
            <label for="pattern" class="is-box-title">Add pattern:</label>
            <div class="field has-addons">
                <div class="cell control">
                    <input class="input" type="text" id="pattern" placeholder="/example/" style="min-width:10ch">
            </div>
            <div class="control">
                <button onclick="addPattern()" class="button">Add</button>
            </div>
            </div>
        </div>
        <div class="cell is-col-span-4">
            <label for="url" class="is-box-title">URL:</label>
            <input class="input" type="text" id="url" value="https://static.r-a-d.io/exci/test-requests2.html">
        </div>
        <div class="cell is-col-span-2">
            <button onclick="toggleChecking()" id="toggleBtn" class="cell is-col-span-2 button" style="color:white!important;">Start Checking</button>
        </div>
    </div>
</div>
<div class="cell is-col-span-12 fixed-grid has-12-cols p-0 mb-0">
    <div class="grid" style="width:calc(100% - 2 * var(--bulma-grid-gap))">
        <div class="cell is-col-span-3">
            <label for="manualRequest" class="is-box-title">Add request manually:</label>
            <div class="field has-addons">
                <div class="cell control">
                    <input class="input" type="text" id="manualRequest" placeholder="Enter request name" style="font-size:0.875rem;">
                </div>
                <div class="control">
                    <button onclick="addManualRequest()" class="button"  style="font-size:0.875rem;">Add</button>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="field">
                <label class="checkbox button mb-2" style="max-height:35px;">
                    <input type="checkbox" id="useCorsproxy" style="font-size:0.875rem;" checked>
                    CORS
                </label>
            </div>
        </div>
        <div class="cell is-col-span-3">
            <input class="input" type="text" id="corsProxyUrl" 
                value="https://empty-dew-ecb0.excivg.workers.dev/?url=" 
                placeholder="Enter CORS proxy URL"
                style="font-size: 0.875rem;">
        </div>
        <div id="patterns-list" class="cell is-col-span-5 patterns-list"></div>
    </div>
</div>
<div class="cell is-col-span-12 fixed-grid has-12-cols" style="width:calc(100% - 3 * var(--bulma-grid-gap));">
    <div class="grid">
        <div class="cell box-req-helper is-col-span-12-mobile is-col-span-12-tablet is-col-span-4-desktop is-col-span-4-widescreen is-col-span-4-fullhd">
            <h3 class="is-size-5 pl-2 pb-2 is-uppercase is-family-code has-text-centered">Requests</h3>
            <div id="leftBox" class="droppable box"></div>
            <button class="button clear is-warning is-small is-pulled-left mx-4" onclick="clearBox('leftBox')">Clear All</button>
            <div id="leftStatus" class="status is-size-5"></div>
        </div>

        <div class="cell box-req-helper is-col-span-12-mobile is-col-span-12-tablet is-col-span-4-desktop is-col-span-4-widescreen is-col-span-4-fullhd">
            <h3 class="is-size-5 pl-2 pb-2 is-uppercase is-family-code has-text-centered">Added</h3>
            <div id="middleBox" class="droppable box"></div>
            <button class="button clear is-warning is-small is-pulled-left mx-4" onclick="clearBox('middleBox')">Clear All</button>
            <div id="middleStatus" class="status is-size-5"></div>
        </div>

        <div class="cell box-req-helper is-col-span-12-mobile is-col-span-12-tablet is-col-span-4-desktop is-col-span-4-widescreen is-col-span-4-fullhd">
            <h3 class="is-size-5 pl-2 pb-2 is-uppercase is-family-code has-text-centered">Ignored</h3>
            <div id="rightBox" class="droppable box"></div>
            <button class="button clear is-warning is-small is-pulled-left mx-4" onclick="clearBox('rightBox')">Clear All</button>
            <div id="rightStatus" class="status is-size-5"></div>
        </div>
    </div>
</div>
<div class="cell is-col-span-12 fixed-grid has-12-cols p-0 mb-0">
    <div class="grid" style="width:calc(100% - 3 * var(--bulma-grid-gap))">
        <div class="cell is-col-span-12">
            <label for="importData" class="is-box-title">Import/Export Request Data:</label>
            <div class="field has-addons">
                <div class="cell control is-expanded">
                    <input class="input" type="text" id="importData" placeholder="Paste exported data here" style="font-size:0.875rem;" disabled>
                </div>
                <div class="control">
                    <button onclick="importBoxes()" class="button" style="font-size:0.875rem;" disabled>Import</button>
                </div>
                <div class="control">
                    <button onclick="exportBoxes()" class="button" style="font-size:0.875rem;" disabled>Export</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/default-dark/js/request-helper.js"></script>
{{end}}