{{define "content"}}
<div class="container" hx-ext="sse" sse-connect="/admin/booth/sse">
    <div class="section">
        <div class="fixed-grid has-10-cols">
            <div class="grid">
                <div class="cell fixed-grid has-8-cols is-col-span-8">
                    <div class="grid">
                        <div class="cell is-flex is-col-span-4 is-row-span-1 is-size-3 is-family-code is-justify-content-center is-align-self-center m-0" style="font-variant:ordinal;">STREAMBOOTH</div>
                        <div class="cell is-flex box is-col-span-2 is-row-span-1 is-justify-content-center is-align-self-center has-background-radio-secondary-1 has-text-weight-light m-0 py-2">
                            <span class="is-uppercase is-box-title">Username</span>{{with .User}}{{.Username}}{{end}}
                        </div>
                        <div class="cell is-flex box is-col-span-2 is-row-span-1 is-justify-content-center is-align-self-center has-background-radio-secondary-1 has-text-weight-light m-0 py-2">
                            <span class="is-uppercase is-box-title">Display Name</span>{{with .User}}{{.DJ.Name}}{{end}}</div>
                        <div class="cell is-col-span-8 is-row-span-1 m-3">
                            <div sse-swap="proxy-status" class="columns is-size-7 is-family-code ">
                            {{template "proxy-status" .ProxyStatus}}
                            </div>
                        </div>
                        <div class="cell is-col-span-8 is-row-span-2 has-background-radio-secondary-1 m-0 p-0">
                            <span class="is-uppercase is-box-title">Set Thread</span>
                            <div id="set-thread" sse-swap="thread" class="box has-text-centered is-flex-direction-column p-4">
                            {{template "set-thread" .ThreadInfo}}
                            </div>
                        </div>
                        <div class="cell is-flex is-flex-direction-column is-col-span-8 is-row-span-3">
                            <div class="tabs is-boxed mb-0">
                                <ul>
                                    <li class="is-active"><a class="tab-button" data-target="streaming-info" onclick="switchTab(this)">Stream Settings</a></li>
                                    <li><a class="tab-button" data-target="irc-info" onclick="switchTab(this)">IRC Commands</a></li>
                                </ul>
                            </div>
                            <div class="box is-flex-1 has-background-radio-secondary-1 remove-top-border-radius">
                                <div id="streaming-info" class="grid mb-0">
                                    <div class="content cell is-col-span-8">
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Sample Rate</span>
                                            <blockquote>Sample Rate MUST be 44100 (44.1kHz).</blockquote>
                                        </div>
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Loopstream Warning</span>
                                            <blockquote>
                                                If you are using Loopstream and it is yelling at you, either fix your audio devices or ignore the warning.
                                                The warning is (was?) overblown and the audio is not actually low-quality.
                                            </blockquote>
                                        </div>
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Codec</span>
                                            <blockquote>Codec must be MP3.</blockquote>
                                        </div>
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Bitrate</span>
                                            <blockquote>Bitrate should be 192kbps. No lower, preferrably not higher for consistency.</blockquote>
                                        </div>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">Audio Routing</span>
                                            <dl>
                                                <dt>If you are using Loopstream, set up audio routing if possible.</dt>
                                                <dd>This does require two usable audio output devices. If you only have one, and don't feel comfortable finding and setting up a Virtual Audio Cable program, don't bother.</dd>
                                                <dd>You can test your audio setup by setting the address field in the Server tab of the settings to blank.</dd>
                                                <dd>Doing so will fake a connection when you press Connect on the main window. Don't forget to re-set the address to the stream server after.</dd>
                                            </dl>
                                        </blockquote>
                                    </div>
                                </div>
                                <div id="irc-info" class="grid is-hidden">
                                    <div class="content cell is-col-span-8">
                                        <div class="block">
                                            <span class="is-uppercase is-box-title">Protip</span>
                                            <blockquote>Commands should be used in the main IRC channel.</blockquote>
                                        </div>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">Before Connecting</span>
                                            <dl>
                                                <dt>Use <code>.kill</code> to make Hanyuu-sama stop streaming</dt>
                                                <dd>only needed if Hanyuu is the current DJ.</dd>
                                                <dd>you should do this while there is <strong>at least</strong> 15 seconds left in the current song to be safe.</dd>
                                                <dd>you can keep an eye on how much time is left in a song on the site.</dd>
                                                <dd>connect when there are 30 seconds left in the current song but DO NOT start your music.</dd>
                                                <dd>start your music when the current song ends.</dd>
                                            </dl>
                                        </blockquote>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">When You Connect</span>
                                            <dl>
                                                <dt>Use of <code>.dj</code> is <strong>no longer needed</strong></dt>
                                                <dd>you will be set as DJ when you go live on the stream automatically</dd>
                                                <dd><strong>you still need to use the below command to set Hanyuu-sama after you're done.</strong></dd>
                                            </dl>
                                        </blockquote>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">After You're Done</span>
                                            <dl>
                                                <dt>Use <code>.dj hanyuu</code> to set Hanyuu-sama as DJ when you are done streaming.</dt>
                                                <dd>you can do this before you disconnect, as long as there is less than one minute left in your set.</dd>
                                            </dl>
                                        </blockquote>
                                        <blockquote>
                                            <span class="is-uppercase is-box-title">Setting Thread</span>
                                            <dl>
                                                <dt>Use <code>.thread [thread]</code> to set the thread, with <code>[thread]</code> changed to what you want to set.</dt>
                                                <dd>example: <code>.thread https://fake.imageboard.net/a/8169743</code></dd>
                                                <dd>using <code>.thread none</code> unsets the thread</dd>
                                                <dd>you can also set the thread on this page</dd>
                                            </dl>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell fixed-grid has-2-cols is-col-span-2">
                    <div class="grid">
                        <div class="cell is-flex is-col-span-2 is-row-span-3 is-justify-content-center is-align-self-center has-text-weight-light m-0 p-0">
                            <span class="is-uppercase is-box-title">Current DJ</span>
                            <div class="box is-fullwidth pb-0">
                                <div sse-swap="streamer" class="">
                                {{template "streamer" .Status.StreamUser}}
                                </div>
                            </div>
                        </div>
                        <div sse-swap="status" class="cell columns is-multiline is-flex box is-col-span-2 is-row-span-1 is-justify-content-center is-align-self-center has-background-radio-secondary-1 has-text-weight-light has-word-break-all m-0 p-4 pt-5">
                            {{block "status" Status}}
                            <span class="is-uppercase is-box-title">Current Song</span>
                            <div class="column now-playing is-12">{{.Song.Metadata}}</div>
                            <div class="column is-12">
                                {{$progress := .SongInfo.Start | Since}}
                                <div class="progress-container is-fullwidth">
                                    <div class="progress-wrapper">
                                        <progress id="current-song-progress" class="progress is-large m-0" value="{{$progress | ToSecond}}" max="{{.Song.Length.Seconds}}" style="border:1px solid rgba(255,255,255,0.1);padding:1px;"></progress>
                                        <div class="progress-text">{{with .}}<span id="progress-current" data-start="{{.SongInfo.Start.UnixMilli}}">{{$progress | MediaDuration}}</span> / <span id="progress-max">{{.Song.Length | MediaDuration}}</span>{{end}}</div>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                        <div class="cell is-col-span-2 is-row-span-1 m-0 p-0">
                            <div id="stop-streamer" sse-swap="stop-streamer" class="columns has-text-centered is-flex-direction-column has-background-radio-secondary-1 m-0 p-0">
                            {{template "stop-streamer" .StreamerInfo}}
                            </div>
                        </div>
                        <div sse-swap="proxy-streamers" class="cell is-col-span-2 m-0 p-0">
                            {{template "proxy-streamers" .StreamerList}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "streamer"}}
    {{with .}}
    <div class="card-image">
        <figure class="image is-square">
            <img src="/api/dj-image/{{.DJ.Image}}"/>
        </figure>
    </div>
    <div id="dj-name-booth" class="has-text-centered has-background-radio-secondary-1">{{.DJ.Name}}</div>
    {{else}}
    <div id="dj-name-booth" class="has-text-centered has-background-radio-secondary-1">NOBODY</div>
    {{end}}
{{end}}

{{define "stop-streamer"}}
    <span class="is-uppercase is-box-title">Kill Stream</span>
    {{if not Status.StreamUser}}
        <p class="column p-4 is-warning">Nobody is currently streaming</p>
    {{else if .UserIsLive}}
        <p class="column p-4 is-success">You are currently streaming</p>
    {{else if .CurrentIsRobot}}
        <p class="column p-4">This kills the Hanyuu. You must connect within <b style="color:lightcoral">{{.ConnectTimeout}}</b> after the song ends.</p>
        <form hx-post="{{.FormAction}}" hx-target="#stop-streamer">
            {{.CSRFTokenInput}}
            <button type="submit" class="button mt-0 mb-4 mx-4 is-warning" {{if not .AllowedToKill}}disabled{{end}} style="width:calc(100% - 2rem)">Kill Hanyuu</button>
        </form>
    {{else}}
        <p class="column p-4">Another DJ is currently streaming, communicate with them.</p>
    {{end}}
{{end}}

{{define "set-thread"}}
{{with .}}
    {{if .AllowedToThread}}
    <p class="block">This is the current thread, you can update it here or set an image by prepending 'image:' to an URL</p>
    {{else}}
    <p class="block">You must be authorized to stream to set the thread. If you're already streaming and still can't set the thread, ask for a re-auth.</p>
    {{end}}
    <form hx-post="{{.FormAction}}" hx-target="#set-thread" class="is-align-self-stretch">
        {{.CSRFTokenInput}}
        <div class="field has-addons">
            <div class="control is-expanded">
                <input name="thread" class="input has-text-centered is-fullheight" type="text" placeholder="no thread set currently" value="{{if .Thread | IsValidThread}}{{.Thread}}{{end}}">
            </div>
            <div class="control">
                <button type="submit" class="button booth-button is-align-self-stretch is-info" {{if not .AllowedToThread}}disabled{{end}}>Update</button>
            </div>
        </div>
    </form>
{{end}}
{{end}}

{{define "proxy-status"}}
    {{if and . (len .Connections)}}
        {{range .Connections}}
        <div class="column is-narrow is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0">
            {{if .IsLive}}
                {{template "booth-circle" safeCSS "hsl(121, 40%, 40%)"}}<div class="ml-2">LIVE</div>
            {{else}}
                {{template "booth-circle" safeCSS "hsl(232, 40%, 40%)"}}<div class="ml-2">CONNECTED</div>
            {{end}}<div class="ml-2">at <a href="{{.MountName}}">{{.MountName}}</a></div>
        </div>
        <div class="column is-narrow box is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0 ml-3">
            {{template "booth-circle" safeCSS "hsl(121, 40%, 40%)"}}<div class="ml-2">Connected for <time data-type="small" datetime="{{.Start.Unix}}">{{.Start | Since | HumanDuration}}</time></div>
        </div>
        <div class="column box is-flex is-align-items-center has-background-radio-secondary-1 mb-0 ml-3" style="white-space:nowrap;overflow-x:auto;scrollbar-width:none;">
        {{with .Metadata}}
            {{template "booth-circle" safeCSS "hsl(121, 40%, 40%)"}}<div class="ml-2" style="overflow:auto;scrollbar-width:none;"><div>{{.}}</div></div>
        {{else}}
            {{template "booth-circle" safeCSS "hsl(232, 40%, 40%)"}}<div class="ml-2" style="overflow:auto;scrollbar-width:none;"><div style="float:left;">[NO METADATA]</div></div>
        {{end}}
        </div>
        {{end}}
    {{else}}
        <div class="column is-narrow is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0">
            <span class="is-uppercase is-box-title">Stream</span>
            {{template "booth-circle" safeCSS "hsl(0, 40%, 40%)"}}<div class="ml-2">NOT CONNECTED</div>
        </div>
        <div class="column is-narrow box is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 mb-0 ml-3">
            <span class="is-uppercase is-box-title">Uptime</span>
            {{template "booth-circle" safeCSS "hsl(0, 40%, 40%)"}}<div class="ml-2">NOT CONNECTED</div>
        </div>
        <div class="column box is-flex is-align-items-center has-background-radio-secondary-1 mb-0 ml-3">
            <span class="is-uppercase is-box-title">Metadata</span>
            {{template "booth-circle" safeCSS "hsl(0, 40%, 40%)"}}<div class="ml-2" style="overflow:auto;scrollbar-width:none;"><div style="float:left;">NOT CONNECTED</div></div>
        </div>
    {{end}}
{{end}}

{{define "booth-circle" -}}
<svg class="svg-icon no-hover-darken is-not-clickable" style="color: {{.}};" viewBox="0 0 24 24"><use href="/assets/default-dark/svg/sprites.svg#circle"></use></svg>
{{- end}}

{{define "proxy-streamers"}}
<div class="box p-4">
    <span class="is-uppercase is-box-title">Connected DJs</span>
    <ul id="page-booth-djlist" class="is-flex is-flex-direction-column">
    {{with .}}
        {{range $idx, $streamer := .Streamers}}
        <li class="is-flex is-flex-1"><div class="{{if eq $idx 0}}is-active-dj{{else}}is-not-active-dj{{end}}"></div><div class="is-flex-1 has-text-centered has-word-break-all px-4">{{$streamer.User.Username}}</div></li>
        {{end}}
    {{end}}
    </ul>
</div>
{{end}}