{{define "content"}}
<div class="container">
    <div class="section">
        <div class="fixed-grid has-4-cols">
            <div class="grid">
                <div class="cell is-align-content-center has-text-centered notification">
                    <p class="title">Daypass</p>
                    <p class="tag is-info">{{.Daypass}}</p>
                    <p id="daypass-timer" class="is-size-7">Expires at midnight</p>
                </div>
                {{with .User}}
                <div class="cell is-align-content-center has-text-centered notification">
                    <div>Welcome {{.Username}}.</div>
                    <div><a class="button" href="/logout">Logout</a></div>
                </div>
                {{end}}
                {{if .CanTemplateReload}}
                <div id="template-reload" class="cell is-align-content-center notification">
                    <form>
                        {{.CSRFTokenInput}}
                        <button class="button is-fullwidth" hx-swap="outerHTML" hx-select="#template-reload" hx-target="#template-reload" hx-trigger="click" hx-post="/admin/api/website/reload-templates">Reload Templates</button>
                        {{with .TemplateReload}}{{if .Reloaded}}Successfully reloaded templates{{else if .Error}}Failed to reload templates: {{.Error}}{{end}}{{end}}
                    </form>
                </div>
                {{end}}
                {{if .CanSetHolidayTheme}}
                <div id="holiday-theme" class="cell is-align-content-center notification">
                    <p class="title has-text-centered">Holiday Theme</p>
                    <form>
                        {{.CSRFTokenInput}}
                        <div class="select is-fullwidth">
                            <select name="theme" autocomplete="off">
                                <option value="">None</option>
                            {{range PublicThemes}}
                                <option {{if eq .Name $.HolidayTheme}}selected{{end}} value="{{.Name}}">{{.DisplayName}}</option>
                            {{end}}
                            </select>
                        </div>
                        <button class="button is-fullwidth" hx-swap="outerHTML" hx-select="#holiday-theme" hx-target="#holiday-theme" hx-trigger="click" hx-post="/admin/api/website/set-holiday-theme">Set Theme</button>
                    </form>
                </div>
                {{end}}
                {{if .CanKillStreamer}}
                <div id="kill-streamer" class="cell notification is-align-content-center">
                    <form hx-post="/admin/api/streamer/stop" hx-target="#kill-streamer" hx-swap="outerHTML">
                        {{.CSRFTokenInput}}
                        <button type="submit" class="button is-fullwidth is-warning">Force Kill Hanyuu</button>
                    </form>
                </div>
                {{end}}
                <div id="user-options" class="cell notification">
                    <fieldset>
                        <legend class="has-text-centered is-fullwidth is-size-5 mb-4">Logged in user options</legend>
                        <div>
                            <div class="label">Admin navbar position</div>
                            <div class="select is-fullwidth">
                                <select id="admin-navbar-position" onchange="localStorage.setItem('adminNavbarPosition', this.value); loadAdminNavbar();">
                                    <option value="bottom">bottom</option>
                                    <option value="top">top</option>
                                </select>
                            </div>
                            <script>document.getElementById("admin-navbar-position").value = localStorage.getItem("adminNavbarPosition") || document.getElementById("admin-navbar-position").options[0].value;</script>
                        </div>
                      </fieldset>
                      
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}