{{define "content"}}
<section class="section">
  <div class="content" hx-boost="true" hx-push-url="true" hx-target="#content">
        <div class="container">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>News</h3>
            </div>
        </div>
        <div id="news-content" class="container">
            <div class="columns mb-6">
                <a class="button column is-info is-pulled-left" href="/admin/news/new">New Post</a>
            </div>
            <div class="news-list">
            {{range $news := $.News}}
                {{block "news-post-index" .}}
                    <article class="block message">
                        <a href="/admin/news/{{.Raw.ID}}">
                            {{$color := "has-background-radio-primary-2"}}
                            {{if .Raw.DeletedAt}}
                                {{$color = "is-danger"}}
                            {{else if .Raw.Private}}
                                {{$color = "has-background-radio-primary-1"}}
                            {{end}}
                            <div class="block message-header columns on-hover-darken">
                                <span class="column {{$color}} news-title">{{.Raw.Title}}</span>
                                <span class="column {{$color}} is-narrow">{{.Raw.CreatedAt | AbsoluteDate}}</span>
                                <span class="column {{$color}} is-narrow" style="text-decoration:none;">{{.Raw.User.Username}}</span>
                            </div>
                        </a>
                    </article>
                {{end}}
            {{end}}
            {{with .Page}}{{with .Next 1}}
            <div id="news-scroll"
                hx-push-url="false"
                hx-trigger="intersect once"
                hx-get="{{.URL}}"
                hx-select="#news-content>.news-list"
                hx-target="#news-content"
                hx-swap="beforeend"></div>
            {{end}}{{end}}
            </div>
        </div>
        <div class="is-hidden-with-js">
            {{template "pagination" .Page}}
        </div>
    </div>
</section>
{{end}}