{{define "content"}}
<section id="pending-section" class="section fixed-grid has-1-cols">
    <div id="pending-options" class="container fixed-grid has-1-cols-mobile has-2-cols-tablet has-4-cols-desktop">
        <div class="grid">
            <button class="cell button box is-size-5 is-size-6-mobile m-0" onclick="toggleClassOnClick(this)" data-target="admin-pending-guidelines-modal" data-class="is-active">Accepting guidelines</button>
            <button class="cell button box is-size-5 is-size-6-mobile m-0" onclick="toggleClassOnClick(this)" data-target="admin-pending-links-modal" data-class="is-active">Links</button>
            <button class="cell button box is-size-5 is-size-6-mobile m-0" onclick="toggleClassOnClick(this)" data-target="admin-pending-spectrogram-modal" data-class="is-active">How to read spectrograms</button>
            <button class="cell button box is-size-5 is-size-6-mobile m-0" onclick="toggleClassOnClick(this)" data-target="admin-pending-options-modal" data-class="is-active">Options</button>
            <div class="cell"></div>
        </div>
    </div>
    <div id="pending" class="container grid">
        {{range $song := .Submissions}}
            <div class="cell">
            {{template "form_admin_pending" $song}}
            </div>
        {{end}}
    </div>
</section>
{{template "admin_player" .}}
{{template "pending-guidelines"}}
{{template "pending-links"}}
{{template "pending-spectrogram-guide"}}
{{template "pending-options"}}
{{end}}

{{define "pending-options"}}
<div id="admin-pending-options-modal" class="modal">
    <div class="modal-background" onclick="removeClassOnClick(this)" data-target="admin-pending-options-modal" data-class="is-active"></div>
    <div class="modal-content">
        <div class="content box">
            <div class="title">Options</div>
            <hr>
            <div>Default player volume</div> 
            <div>
                <input id="pending-volume" class="volume-input" name="pending-volume" type="number" min="0" max="100" value="5" oninput="localStorage.setItem('admin-player-volume', this.value)">
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "pending-spectrogram-guide"}}
<div id="admin-pending-spectrogram-modal" class="modal">
    <div class="modal-background" onclick="removeClassOnClick(this)" data-target="admin-pending-spectrogram-modal" data-class="is-active"></div>
    <div class="modal-content">
        <div class="content box">
            <div class="title">Spectrograms</div>
            <h5>Lifted from <a href="https://interviewfor.red/en/spectrals.html">interviewfor.red</a>. Click images to open them in another tab.</h5>
            <hr>
            {{template "spectrogram-guide"}}
        </div>
    </div>
</div>
{{end}}

{{define "pending-links"}}
<div id="admin-pending-links-modal" class="modal">
    <div class="modal-background" onclick="removeClassOnClick(this)" data-target="admin-pending-links-modal" data-class="is-active"></div>
    <div class="modal-content">
        <div class="content box">
            <div class="title">Links</div>
            <hr>
            <h2 class="text-warning">Useful sites:</h2>
            <p>
                <ul>
                    <li><a href="https://anidb.net/creator">AniDB (anime)</a></li>
                    <li><a href="https://vgmdb.net/search">VGMDB (all kinds of Japanese releases)</a></li>
                    <li><a href="https://vndb.org/s">VNDB (visual novels)</a></li>
                    <li><a href="https://myanimelist.net/?type=person&keyword=">MyAnimeList (anime)</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>
{{end}}

{{define "pending-guidelines"}}
<div id="admin-pending-guidelines-modal" class="modal">
    <div class="modal-background" onclick="removeClassOnClick(this)" data-target="admin-pending-guidelines-modal" data-class="is-active"></div>
    <div class="modal-content">
        <div class="content box">
            <div class="title">Accepting guidelines</div>
            <hr>
        	<h2 class="text-warning">Keep these in mind when accepting songs:</h2>
        	<p>
        	<ul>
        		<li>Accept full size releases only (meaning no TV size anime openings, endings, etc).</li>
        		<li>We follow Japanese name order for artist (for example, Kugimiya Rie instead of Rie Kugimiya). If you're not sure, google the artist name, then put it the other way around (protips below).</li>
        		<li>Sites that use western name order: Wikipedia (usually), Anime News Network</li>
        		<li>Sites that use Japanese name order: AniDB, MyAnimeList (on the site; western order on google search results)</li>
        		<li>If the song is by an idol group, use the idol group name as the artist name and add the singers in tags. Character names can also be added to tags, but are not necessary.</li>
        		<li>Always use the artist(s) as the artist name, not the character. (good: Hirano Aya - Hare Hare Yukai; bad: Suzumiya Haruhi - Hare Hare Yukai)</li>
        		<li>Add as much information as (reasonably) possible in the tags. Too much is better than too little, for example if a show is often referred to with an English title (or has an official one), add that as well.</li>
        		<li>Use "artist feat. someone - song" instead of "artist - song feat. someone", even if it was released as the latter.</li>
        		<li>を-> "wo", not "o". へ -> "he", not "e". は-> "wa", not "ha".</li>
        		<li>Particles are always lower case; other words are Upper Case.</li>
        		<li>Follow official artist stylization of artist name (for example "AZKi" instead of "Azki").</li>
        		<li>For romanization, if you're unsure, check the database for what's most commonly used and go with that. If there's nothing from the artist in the database, use what AniDB uses. If they're not on AniDB, use what you think AniDB would use.</li>
        	</ul>
        	</p>
            <hr>
        	<h2 class="text-warning">Don't accept:</h2>
        	<p>
        	<ul>
        		<li>Don't accept anything below 192kbps.</li>
        		<li>Don't accept youtube rips. If you don't know if something is a youtube rip or not, don't do anything.</li>
        		<li>It's not exactly required if you trust your ears, but consider <a href="https://interviewfor.red/en/spectrals.html">reading this</a>.</li>
        		<li>Read the stuff on <a href="https://r-a-d.io/submit">submit page</a> for more information on what should be declined.</li>
        	</ul>
        	</p>
            <hr>
        	<h2 class="text-warning">Words of warning:</h2>
        	<p>
        	<ul>
        		<li>Don't modify artist or song name on old songs. This will reset favorites on the song. If you think they should be changed anyway, ask Vin/Kethsar/exci. Album and tags can be edited without resetting anything.</li>
        		<li>You can do ".i id" on irc to check if the song only has a few favourites and/or plays to figure out if it's old. Or just look at the ID and extrapolate. You probably don't want to change anything anyway, just ask someone else.</li>
        	</ul>
        	</p>
            <hr>
        	<h2 class="text-warning">On vtumors:</h2>
        	<p>
        	<ul>
        		<li>Accept vtumors when song production was by a Japanese artist (for example, all of hololive JP). This generally also means you can accept any vtumor, even if not Japanese, if they're managed by a Japanese vtumor factory. If you're unsure, don't do anything.</li>
        		<li>In general, same rules apply as to other submissions; an anime avatar alone doesn't make it /a/ or /jp/. You can still accept English vtumor (even outside Hololive or Nijisanji, etc) songs if the song production is Japanese. If you're unsure, don't do anything.</li>
        		<li>Special case: if a vtumor song is in a language that isn't English or Japanese, don't accept.</li>
        	</ul>
        	</p>
        </div>
    </div>
</div>
{{end}}

{{define "spectrogram-guide"}}
<h3>Spectral Analysis</h3>
<p>Spectral analysis is a visual way to display the data in a music file. Every music note has a specific frequency: lower notes have lower frequencies and higher notes have higher frequencies. All of the frequencies are displayed on a spectral diagram ("spectral" for short), which is a graph of all the frequencies vs. time in a music file. Frequencies are measured in hertz (Hz) and kilohertz (1,000 Hz). Humans have a hearing range from about 20 Hz - 20kHz (20,000 Hz).</p>
<p>Since spectrals show all the data in a file, they are helpful tools to use when you're trying to decide whether or not a song has been transcoded. Every file has a relatively standard frequency cut-off.</p>
<h4>CD / Lossless</h4>
<p>Songs on a retail CD and lossless songs have frequencies that extend all the way to 22 kHz. Since lossless to lossless transcoding preserves all of the data in a music file, the spectral of a lossless song will look the same in FLAC, WAV (PCM), ALAC, etc.</p>
<p>
    <a href="/assets/default-dark/images/spectrals/Guide-FLAC.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-FLAC.jpg" title="Spectral (FLAC)">
    </a>
</p>
<p>However, different genres have different-looking spectrals. The example above was a pop song, so most of the frequencies were represented. But look at this classical piano song.</p>
<p>
    <a href="/assets/default-dark/images/spectrals/Guide-FLAC-Classical.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-FLAC-Classical.jpg" title="Spectral (FLAC - Classical)">
    </a>
</p>
<p>It looks much different, right? But it's still a lossless spectral! Notice how "white noise" (the light purple) still extends to 22 kHz, even though those frequencies aren't used.</p>
<h4>MP3</h4>
<p>Different types of MP3s have different frequency cut-offs. MP3s also tend to have a "shelf" at 16 kHz (you'll see it in the spectrals).</p>
<p>MP3 320kbps (CBR) has a frequency cut-off at 20.5 kHz.
    <a href="/assets/default-dark/images/spectrals/Guide-MP3-320-CBR.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-MP3-320-CBR.jpg" title="Spectral (MP3 320)">
    </a>
</p>
<p>MP3 256kbps (CBR) has a frequency cut-off at 20 kHz.
<a href="/assets/default-dark/images/spectrals/Guide-MP3-256-CBR.jpg">
    <img src="/assets/default-dark/images/spectrals/Guide-MP3-256-CBR.jpg" title="Spectral (MP3 256)"></a>
</p>
<p>MP3 V0 has a frequency cut-off at 19.5 kHz.
    <a href="/assets/default-dark/images/spectrals/Guide-MP3-V0.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-MP3-V0.jpg" title="Spectral (MP3 V0)">
    </a>
</p>
<p>MP3 192kbps (CBR) has a frequency cut-off at 19 kHz.
    <a href="/assets/default-dark/images/spectrals/Guide-MP3-192-CBR.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-MP3-192-CBR.jpg" title="Spectral (MP3 192)">
    </a>
</p>
<p>MP3 V2 has a frequency cut-off at 18.5 kHz.
    <a href="/assets/default-dark/images/spectrals/Guide-MP3-V2.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-MP3-V2.jpg" title="Spectral (MP3 V2)">
    </a>
</p>
<p>MP3 128kbps (CBR) has a frequency cut-off at 16 kHz.
    <a href="/assets/default-dark/images/spectrals/Guide-MP3-128-CBR.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-MP3-128-CBR.jpg" title="Spectral (MP3 128)">
    </a>
</p>
<h4>Transcodes</h4>
<p>How are spectrals helpful when trying to detect transcodes? Say you download a song in FLAC from a blog. The only way to verify that this song is truly a lossless file and not a transcoded file is by looking at its spectral. (Programs like AudioIdentifier are not reliable at detecting transcodes.)</p>
<p>For example, the spectral below is of a FLAC file: the file extension is .flac, it is 21.8 MB, and it sounds okay.</p>
<p>
    <a href="/assets/default-dark/images/spectrals/Guide-MP3-192-to-FLAC.jpg">
        <img src="/assets/default-dark/images/spectrals/Guide-MP3-192-to-FLAC.jpg" title="Spectral (MP3 192 to FLAC)">
    </a>
</p>
<p>But whoa, does that look anything like what a regular FLAC spectral should look like? No! This file was transcoded from MP3 192kbps (CBR) to FLAC. It's a lossy to lossless transcode, which is bad.</p>
{{end}}