{{define "content"}}
<section class="section" hx-trigger="load delay:30s" hx-get="/admin/queue" hx-target="#content">
    <div class="container">
        <div class="content">
            <div class="fixed-grid has-1-cols">
                <form class="grid">
                    {{.CSRFTokenInput}}
                    {{range $song := $.Queue}}
                    {{template "song" $song}}
                    {{end}}
                </form>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "song"}}
<div class="cell">
    <div class="fixed-grid has-12-cols">
        <div class="grid" hx-push-url="false">
            {{if not $.IsUserRequest}}
            <div class="cell is-col-span-1 has-background-radio-secondary-1 is-col-span-0-mobile is-align-content-center has-text-centered p-2" style="overflow: scroll;"><time datetime="{{$.ExpectedStartTime.Unix}}" data-type="pretty">{{Until $.ExpectedStartTime | PrettyDuration}}</time></div>
            <div class="cell is-col-span-8 is-col-span-12-mobile has-background-radio-secondary-1 is-align-content-center has-text-centered p-2" style="overflow: scroll;">{{$.Metadata}}</div>
            <div class="cell is-col-span-1 has-background-radio-secondary-1 is-align-content-center has-text-centered" style="overflow: scroll;">ID: {{$.TrackID}}</div>
            <button class="button cell is-col-span-1 is-danger" hx-post="/admin/queue/remove?id={{$.QueueID}}">Remove</button>
            {{else}}
            <div class="cell is-col-span-1 has-background-radio-secondary-1 is-align-content-center has-text-centered p-2 is-request" style="overflow: scroll;"><time datetime="{{$.ExpectedStartTime.Unix}}" data-type="pretty">{{Until $.ExpectedStartTime | PrettyDuration}}</time></div>
            <div class="cell is-col-span-7 is-col-span-12-mobile has-background-radio-secondary-1 is-align-content-center has-text-centered p-2 is-request" style="overflow: scroll;color:var(--blue);">{{$.Metadata}}</div>
            <div class="cell is-col-span-1 has-background-radio-secondary-1 is-align-content-center has-text-centered is-request" style="overflow: scroll;">/r/ by {{$.UserIdentifier}}</div>
            <div class="cell is-col-span-1 has-background-radio-secondary-1 is-align-content-center has-text-centered" style="overflow: scroll;">ID: {{$.TrackID}}</div>
            <button class="button cell is-col-span-1 is-danger" hx-post="/admin/queue/remove?id={{$.QueueID}}">Remove</button>
            {{end}}
        </div>
    </div>
</div>
{{end}}