{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Favorites</h3>
            </div>
            <div class="columns is-centered mb-5">
                <form action="/faves" class="column is-8 control is-flex" hx-boost="true" hx-push-url="true" hx-target="#content">
                    <input class="input" type="text" name="nick" placeholder="Enter a username..." value="">
                    <input class="submit button is-link ml-3" type="submit" value="Submit">
                </form>
            </div>
            {{template "pagination" .Page}}
            <div class="fixed-grid has-1-cols">
                <div class="grid">
                    <div class="cell">
                        <div class="fixed-grid has-12-cols">
                            <div class="grid">
                                <div class="cell is-col-span-11 is-align-content-center has-text-centered">
                                    Artist - Title
                                </div>
                            </div>
                        </div>
                    </div>
                    {{template "search-results" .Faves}}
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "search-results"}}
    {{with .}}{{range .}}
        <div class="cell">
            <div class="fixed-grid has-12-cols">
                <div class="grid">
                    <div class="cell is-col-span-11 has-background-radio-secondary-1 is-align-content-center has-text-centered">
                        {{.Metadata}}
                    </div>
                    <div class="cell is-col-span-1 is-align-content-center">
                        <button class="submit button is-primary">Request</button>
                    </div>
                </div>
            </div>
        </div>
    {{end}}{{end}}
{{end}}