{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="columns is-centered mb-5">
                <form action="/faves" class="column is-8 control is-flex" hx-boost="true" hx-push-url="true" hx-target="#content">
                    <input class="input" type="text" name="nick" placeholder="Enter a username..." value="{{.Nickname}}">
                    <input class="submit button is-link ml-3" type="submit" value="Submit">
                </form>
            </div>
            {{template "pagination" .Page}}
            <div class="fixed-grid has-1-cols">
                <div class="grid" style="min-height:3rem;">
                    {{range .Faves}}
                    <div class="cell">
                        <div class="fixed-grid has-12-cols">
                            <div class="grid">
                                {{if .HasTrack}}
                                <div class="cell is-col-span-11 has-background-radio-secondary-1 is-align-content-center has-text-centered">
                                    {{.Metadata}}
                                </div>
                                <div class="cell is-col-span-1 is-align-content-center">
                                    {{block "request-form" SongPair . $}}
                                    <form method="POST" action="/v1/request?trackid={{.TrackID}}&nick={{.Data.Nickname}}&page={{.Data.Page.Nr}}&s=fave"
                                        hx-post="/v1/request?trackid={{.TrackID}}&nick={{.Data.Nickname}}&page={{.Data.Page.Nr}}&s=fave"
                                        hx-target="#content"
                                        hx-push-url="false">
                                        {{.Data.CSRFTokenInput}}
                                        {{if and .Data.CanRequest .Requestable}}
                                            <button type="submit" class="button is-primary is-fullwidth" name="id" value="{{.TrackID}}" onclick="event.stopPropagation()">Request</button>
                                        {{else}}
                                            <button type="submit" class="button is-danger is-fullwidth" name="id" value="{{.TrackID}}" onclick="event.stopPropagation()" disabled>Request</button>
                                        {{end}}
                                    </form>
                                    {{end}}
                                </div>
                                {{else}}
                                <div class="cell is-col-span-11 has-background-radio-secondary-1 is-align-content-center has-text-centered">
                                    {{.Metadata}}
                                </div>
                                <div class="cell is-col-span-1 is-align-content-center">
                                    <button type="button" class="button is-danger is-fullwidth" disabled>Request</button>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            {{template "pagination" .Page}}
        </div>
    </div>
</section>
{{end}}