{{define "content"}}
<section class="section py-5" hx-ext="sse" sse-connect="/v1/sse">
    <div class="container">
        <div class="columns">
            <div class="column is-narrow mr-6 is-hidden-touch">
                <img src="/assets/images/logo_image_small.png" alt="R/a/dio">
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-flex is-align-items-center is-justify-content-center">
                        <img src="/assets/images/logotitle_2.png" alt="R/a/dio">
                    </div>

                    <div class="column">
                        <div class="field mb-1">
                            {{with .StreamURL}}
                            <noscript>
                                <audio preload="none" controls>
                                      <source src="{{.}}" type="audio/mpeg" />
                                </audio>
                            </noscript>
                            {{end}}
                            <button id="stream-play-pause" class="is-hidden-without-js button is-info is-fullwidth">Play Stream</button>
                        </div>
                        <div class="field mb-1">
                            <button class="button is-fullwidth"><input id="stream-volume" class="is-fullwidth" type="range" min="0" max="100" step="1" value="80"></button>
                        </div>
                        <div class="field has-addons dropdown-parent">
                                <button class="button is-width-80"><a class="disable-link-color" href="/main">Direct Stream Link</a></button>
                                <button class="button is-width-20 ml-3" style="font-weight: 900;" onclick="toggleDropdown(this)">⚙</button>
                                <div id="options-button-dropdown" class="dropdown-container box is-hidden" style="z-index:1">
                                    <div class="p-0 mb-2"><a href="/help#stream-help" hx-boost="true" hx-push-url="true" hx-target="#content"><button class="button is-fullwidth">Help</button></a></div>
                                    <div class="p-0 mb-2"><a><button class="button is-fullwidth js-modal-trigger" data-target="prefs-modal" onclick="toggleOptionsDropdown()">Preferences</button></a></div>
                                </div>
                        </div>
                    </div>
                </div>
                <div id="now-playing" class="hide-np-tags" sse-swap="metadata">
                    {{template "nowplaying" .Status}}
                </div>
            </div>
            <div class="column is-3" sse-swap="streamer">
                {{template "streamer" .Status.User}}
            </div>
        </div>
        <div class="fixed-grid has-1-cols-mobile has-1-cols-tablet has-2-cols-desktop">
            <div class="grid">
                <div class="cell" sse-swap="lastplayed">
                    {{template "lastplayed" .LastPlayed}}
                </div>
                <div class="cell" sse-swap="queue">
                    {{template "queue" .Queue}}   
                </div>
            </div>
        </div>
        <div class="fixed-grid has-1-cols-mobile has-1-cols-tablet has-3-cols-desktop">
            <div class="grid">
            {{range .News}}
            {{template "news-post-home" .}}
            {{end}}
            </div>
        </div>
    </div>
</section>
{{end}}
{{define "nowplaying"}}
<div id="current-song" class="columns is-vcentered">
    {{if gt (len .Song.Metadata) 35}}
    <div id="metadata" class="column is-12 title pb-0 has-text-centered">{{.Song.Metadata}}</div>
    {{else}}
    <div id="metadata" class="column is-12 title mb-0 has-text-centered">{{.Song.Metadata}}</div>
    {{end}}
    {{if .Song.HasTrack}}
    {{if .Song.Tags}}
    <button class="button tag py-3 ml-3" style="font-weight: 900;" onclick="htmx.toggleClass(htmx.find('#now-playing'), 'hide-np-tags')">🔖</button>
    {{end}}
    {{end}}
</div>
<p id="now-playing-tags" class="subtitle has-text-centered mb-4" style="font-size: 14px;">{{if .Song.HasTrack}}{{.Song.Tags}}{{end}}</p>
{{$progress := .SongInfo.Start | Since}}
<progress id="current-song-progress" class="progress is-large mb-0" value="{{$progress | ToSecond}}" max="{{.Song.Length.Seconds}}"></progress>

<div class="columns mt-2">
    <div class="column is-6">
        <p class="has-text-centered" sse-swap="listeners">{{template "listeners" .Listeners}}</p>
    </div>
    <div class="column is-6">
        <p class="has-text-centered"><span id="progress-current" data-start="{{.SongInfo.Start.UnixMilli}}">{{$progress | MediaDuration}}</span> / <span id="progress-max">{{.Song.Length | MediaDuration}}</span></p>
    </div>
</div>
{{end}}
{{define "listeners"}}
    Listeners: <span id="listener-count">{{.}}</span>
{{end}}
{{define "lastplayed"}}
<p class="title is-4 has-text-centered is-hidden-touch">Last Played</p>
<div class="notification fixed-grid has-1-cols py-3">
    <ul id="lastplayed" class="grid">
        {{range $song := .}}
        <div class="cell is-align-content-center">
            <li class="lp-item columns is-mobile is-vcentered">
                <time datetime="{{$song.LastPlayed.Unix}}" class="lp-time column is-narrow has-text-left">{{Until $song.LastPlayed | PrettyDuration}}</time>
                <span class="lp-meta column has-text-centered">{{$song.Metadata}}</span>
            </li>
        </div>
        {{end}}
    </ul>
</div>
{{end}}
{{define "queue"}}
<p class="title is-4 has-text-centered is-hidden-touch">Queue</p>
<div class="notification fixed-grid has-1-cols py-3">
{{if not (Status.User | IsRobot)}}
    <h3 id="thread" class="title has-text-centered pt-5">
        {{if Status.Thread}}
        <a class="has-text-link" href="{{Status.Thread}}" target="_blank">Thread up!</a>
        {{else}}
        There is no thread up.
        {{end}}
    </h3>
{{else}}
    <ul id="queue" class="grid">
        {{range $song := (.Limit 5)}}
        <div class="cell is-align-content-center">
            <li class="columns is-mobile is-vcentered">
            {{if not $song.IsUserRequest}}
            <span class="column queue-meta has-text-centered">{{$song.Metadata}}</span>
            <time datetime="{{$song.ExpectedStartTime.Unix}}" class="column is-narrow has-text-right">{{Until $song.ExpectedStartTime | PrettyDuration}}</time>
            {{else}}
            <span class="column queue-meta has-text-centered is-request">{{$song.Metadata}}</span>
            <time datetime="{{$song.ExpectedStartTime.Unix}}" class="column is-narrow has-text-right is-request">{{Until $song.ExpectedStartTime | PrettyDuration}}</time>
            {{end}}
            </li>
        </div>
        {{end}}
    </ul>
{{end}}
</div>
{{end}}
{{define "streamer"}}
<div class="px-5 mx-5">
    <div class="card-image">
        <figure class="image is-square ml-0 mr-0">
            <img src="/api/dj-image/{{.DJ.Image}}"/>
        </figure>
    </div>
    <div class="card-content has-text-centered pt-4 pb-0">
        <div class="title is-4">{{.DJ.Name}}</div>
    </div>
</div>
{{end}}
