{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered mb-6 is-hidden-mobile">
                <h3>Schedule</h3>
            </div>

            <div class="columns block has-background-white-ter has-text-centered">
                <div class="column">"Times are in EST. All times and days are subject to change. Any stream can be cancelled without prior notice. If you're wondering if a stream will be held, don't hesitate to ask in chat. "</div>
            </div>

            {{range $day := .Schedule}}
                {{template "day" $day}}
            {{end}}
        </div>
    </div>
</section>
{{ printjson . }}
{{end}}

{{define "day"}}
    {{if eq .Weekday 4}}
        {{template "friday"}}
    {{else if or (eq .Weekday 1) (eq .Weekday 3) (eq .Weekday 6) }}
        {{template "day-right" .}}
    {{else}}
        {{template "day-left" .}}
    {{end}}
{{end}}

{{define "day-left"}}
<div class="tile is-ancestor block m-2">
    <div class="tile is-parent is-6 pr-5 pl-5 pb-5 pt-4">
        <div class="tile is-child">
    
            <div class="columns block has-background-white-ter is-flex-mobile has-text-centered is-9 is-6-touch mb-4">
                <div class="column is-3 is-6-touch">
                    <h6 class="p-0 m-0">{{.User.DJ.Name}}</h6>
                </div>
                <div class="column">
                    <h6 class="p-0 m-0">{{.Weekday}}</h6>
                </div>
            </div>
    
            <div class="tile is-ancestor" style="height: calc(100% - 1.5rem);">
                <div class="tile is-parent block has-background-white-ter has-text-centered is-hidden-tablet mb-1">
                    <div class="tile is-child" style="margin:auto !important;overflow:hidden;">
                        <div class="image fill-sides" style="width:256px;height:256px;">
                            <img class="dj-image" src="/dj-image/{{.User.DJ.Image}}" />
                        </div>
                    </div>
                </div>
                <div class="tile is-parent block has-background-white-ter has-text-centered is-hidden-mobile is-3 mr-1 mb-0">
                    <div class="tile is-child" style="margin:auto !important;overflow:hidden;">
                        <div class="image is-square" style="min-width:88px;min-height:88px;">
                            <img class="dj-image" src="/dj-image/{{.User.DJ.Image}}" />
                        </div>
                    </div>
                </div>
                <div class="tile is-parent block has-background-white-ter has-text-centered m-0">
                    <div class="tile is-child" style="margin:auto !important;">{{.User.DJ.Text}}</div>
                </div>
            </div>

        </div>
    </div>
{{end}}

{{define "day-right"}}
<div class="tile is-parent is-6 pr-5 pl-5 pb-5 pt-4">
    <div class="tile is-child">

        <div class="columns block has-background-white-ter is-flex-mobile has-text-centered is-9 is-6-touch mb-4">
            <div class="column">
                <h6 class="p-0 m-0">{{.Weekday}}</h6>
            </div>
            <div class="column is-3 is-6-touch">
                <h6 class="p-0 m-0">{{.User.DJ.Name}}</h6>
            </div>
        </div>

        <div class="tile is-ancestor" style="height: calc(100% - 1.5rem);">
            <div class="tile is-parent block has-background-white-ter has-text-centered is-hidden-tablet mb-1">
                <div class="tile is-child" style="margin:auto !important;overflow:hidden;">
                    <div class="image fill-sides" style="width:256px;height:256px;">
                        <img class="dj-image" src="/dj-image/{{.User.DJ.Image}}" />
                    </div>
                </div>
            </div>
            <div class="tile is-parent block has-background-white-ter has-text-centered m-0">
                <div class="tile is-child" style="margin:auto !important;">{{.User.DJ.Text}}</div>
            </div>
            <div class="tile is-parent block has-background-white-ter has-text-centered is-hidden-mobile is-3 ml-1 mb-0">
                <div class="tile is-child" style="margin:auto !important;overflow:hidden;">
                    <div class="image is-square" style="min-width:88px;min-height:88px;">
                        <img class="dj-image" src="/dj-image/{{.User.DJ.Image}}" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{{end}}

{{define "friday"}}
<div class="tile is-ancestor block m-2">
    <div id="friday" class="tile is-parent pr-5 pl-5 pb-5 pt-4">
        <div class="tile is-child">
            <div class="columns block has-background-white-ter has-text-centered mb-4">
                <div class="column">
                    <h6 class="p-0 m-0">FRIDAY!</h6>
                </div>
            </div>
            <div class="columns block has-background-white-ter has-text-centered">
                <div class="column">Friday Night Faggotry! Nobody knows who will be streaming, but you can be sure someone will do it (apply today!). Usually starts around 8PM.</div>
            </div>
        </div>
    </div>
</div>
{{end}}