{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="title has-text-centered is-hidden-mobile">
                <h3>Schedule</h3>
            </div>

            <div class="columns block has-background-radio-secondary-1 has-text-centered mb-5">
                <div class="column">Times are in EST. All times and days are subject to change. Any stream can be cancelled without prior notice. If you're wondering if a stream will be held, don't hesitate to ask in chat.</div>
            </div>

            <div class="fixed-grid has-1-cols-mobile block">
                <div class="grid is-fullheight is-row-gap-5 is-column-gap-5">
                    {{range $day := .Schedule}}
                    {{with .}}
                    {{template "day" $day}}
                    {{end}}
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "day"}}
{{if eq .Weekday 4}}
{{template "friday" .}}
{{else if or (eq .Weekday 1) (eq .Weekday 3) (eq .Weekday 6) }}
{{template "day-right" .}}
{{else}}
{{template "day-left" .}}
{{end}}
{{end}}

{{define "day-left"}}
<!-- desktop -->
<div class="cell is-flex is-flex-direction-column is-hidden-touch">
    <div class="columns mb-1">
        <h6 class="column is-3 has-background-radio-secondary-1 is-align-content-center has-text-centered mr-2">{{if .Owner}}{{.Owner.DJ.Name}}{{else}}Nobody{{end}}</h6>
        <h6 class="column has-background-radio-secondary-1 is-align-content-center has-text-centered">{{.Weekday}}</h6>
    </div>
    <div class="columns is-flex-1">
        <div class="column is-3 has-background-radio-secondary-1 is-align-content-center is-col-span-1 p-3 mr-2">
            <div class="image is-square">
                <img class="dj-image" src="{{if .Owner}}/api/dj-image/{{.Owner.DJ.Image}}{{else}}/assets/images/mystery-dj.png{{end}}" />
            </div>
        </div>
        <div class="column has-background-radio-secondary-1 is-align-content-center has-text-centered is-col-span-3" style="word-wrap:anywhere;">{{if .Owner}}{{.Owner.DJ.Text}}{{else}}{{.Text}}{{end}}</div>
    </div>
</div>
<!-- mobile -->
<div class="cell is-flex is-flex-direction-column is-hidden-desktop">
    <div class="columns is-flex-mobile mb-3">
        <h6 class="column has-background-radio-secondary-1 is-align-content-center has-text-centered mb-2 mr-1">{{.Weekday}}</h6>
        <h6 class="column has-background-radio-secondary-1 is-align-content-center has-text-centered mb-2 ml-1">{{if .Owner}}{{.Owner.DJ.Name}}{{else}}Nobody{{end}}</h6>
    </div>
    <div class="columns is-flex-1">
        <div class="column has-background-radio-secondary-1 is-align-content-center has-text-centered is-col-span-3" style="word-wrap:anywhere;">{{if .Owner}}{{.Owner.DJ.Text}}{{else}}{{.Text}}{{end}}</div>
    </div>
</div>
{{end}}

{{define "day-right"}}
<!-- desktop -->
<div class="cell is-flex is-flex-direction-column is-hidden-touch">
    <div class="columns mb-1">
        <h6 class="column has-background-radio-secondary-1 is-align-content-center has-text-centered">{{.Weekday}}</h6>
        <h6 class="column is-3 has-background-radio-secondary-1 is-align-content-center has-text-centered ml-2">{{if .Owner}}{{.Owner.DJ.Name}}{{else}}Nobody{{end}}</h6>
    </div>
    <div class="columns is-flex-1">
        <div class="column has-background-radio-secondary-1 is-align-content-center has-text-centered is-col-span-3" style="word-wrap:anywhere;">{{if .Owner}}{{.Owner.DJ.Text}}{{else}}{{.Text}}{{end}}</div>
        <div class="column is-3 has-background-radio-secondary-1 is-align-content-center is-col-span-1 p-3 ml-2">
            <div class="image is-square">
                <img class="dj-image" src="{{if .Owner}}/api/dj-image/{{.Owner.DJ.Image}}{{else}}/assets/images/mystery-dj.png{{end}}" />
            </div>
        </div>
    </div>
</div>
<!-- mobile -->
<div class="cell is-flex is-flex-direction-column is-hidden-desktop">
    <div class="columns is-flex-mobile mb-3">
        <h6 class="column has-background-radio-secondary-1 is-align-content-center has-text-centered mb-2 mr-1">{{.Weekday}}</h6>
        <h6 class="column has-background-radio-secondary-1 is-align-content-center has-text-centered mb-2 ml-1">{{if .Owner}}{{.Owner.DJ.Name}}{{else}}Nobody{{end}}</h6>
    </div>
    <div class="columns is-flex-1">
        <div class="column has-background-radio-secondary-1 is-align-content-center has-text-centered is-col-span-3" style="word-wrap:anywhere;">{{if .Owner}}{{.Owner.DJ.Text}}{{else}}{{.Text}}{{end}}</div>
    </div>
</div>
{{end}}

{{define "friday"}}
<!-- desktop -->
<div id="friday" class="cell is-col-span-2 is-col-span-1-mobile is-hidden-mobile" style="width:calc(100% + (0.75rem / 2));">
    <div class="columns is-multiline">    
        <h6 class="column is-12 has-background-radio-secondary-1 has-text-centered p-2 mb-2">{{.Weekday}}</h6>
        <div class="column is-12 has-background-radio-secondary-1 has-text-centered p-4">{{.Text}}</div>
    </div>
</div>
<!-- mobile -->
<div id="friday" class="cell is-col-span-2 is-col-span-1-mobile is-hidden-tablet">
    <div class="columns is-multiline">    
        <h6 class="column is-12 has-background-radio-secondary-1 has-text-centered p-2 mb-2">{{.Weekday}}</h6>
        <div class="column is-12 has-background-radio-secondary-1 has-text-centered p-4">{{.Text}}</div>
    </div>
</div>
{{end}}