{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            {{template "staff-rows" .}}
        </div>
    </div>
</section>
{{end}}

{{define "staff-rows"}}
    {{range $role := .Roles}}
        <div class="fixed-grid block has-4-cols-desktop has-2-cols-touch has-1-cols-mobile mb-5">
            {{template "staff-row-title" $role}}
            <div id="{{$role}}" class="grid message has-background-radio-secondary-1 content-border-top is-column-gap-6 is-row-gap-3 p-6">
                {{range $user := $.Users}}
                    {{if and $user.DJ.Visible (eq $user.DJ.Role $role)}}
                        {{template "djcard" $user}}
                    {{end}}
                {{end}}
             </div>
        </div>
    {{end}}
{{end}}

{{define "staff-row-title"}}
	{{if eq . "staff"}}
    	<div class="title pl-4">Staff</div>
	{{else if eq . "dev"}}
    	<div class="title pl-4">Developers</div>
	{{else}}
    	<div class="title pl-4">DJs</div>
	{{end}}
{{end}}

{{define "djcard"}}
<div class="cell">
    <div class="card-image">
	    <figure class="image is-square fill-sides has-rounded-corners">
	    	<img src="/api/dj-image/{{.DJ.Image}}" class="dj-image"/>
	    </figure>
	</div>
    <div class="card-content">
        <div class="dj-card-name is-size-5 has-text-centered">{{.DJ.Name}}</div>
    </div>
</div>
{{end}}
