{{define "head"}}
<link rel="preload" href="{{WithVersion "/assets/default-dark/css/fonts.css"}}" as="style" />
<link rel="preload" href="{{WithVersion "/assets/default-dark/css/main.css"}}" as="style" />

<link rel="stylesheet" href="{{WithVersion "/assets/default-light/css/bulma.min.css"}}" />
<link rel="stylesheet" href="{{WithVersion "/assets/default-dark/css/fonts.css"}}" />
<link rel="stylesheet" href="{{WithVersion "/assets/default-dark/css/main.css"}}" />
<link rel="stylesheet" href="{{WithVersion "/assets/edenlight/css/main.css"}}" />

<script src="{{WithVersion "/assets/default-dark/js/theme.js"}}"></script>
<script src="{{WithVersion "/assets/edenlight/js/theme.js"}}"></script>

<style id="custom-css"></style>
{{end}}
{{define "full-page-body"}}{{end}}