{{define "content"}}
<div class="container">
    <div class="section">
        <div class="fixed-grid has-4-cols">
            <div class="grid">
                <div class="cell is-col-span-1 box has-background-radio-secondary-1 mb-0">
                    <div class="grid is-fullheight">
                        <div class="cell title is-flex is-justify-content-center is-align-self-center has-text-weight-light mb-0">Streambooth</div>
                    </div>
                </div>
                <div class="cell is-col-span-2 box has-background-radio-secondary-1 mb-0">
                    <div class="grid is-fullheight">
                        <p class="cell is-flex is-justify-content-center is-align-self-center">Radical new stream page where you can do something</p>
                    </div>
                </div>
                <div class="cell box is-col-span-1 is-row-span-2 is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-background-radio-secondary-1 py-0 mb-0">
                    <div>USERNAME: {{.User.Username}}</div>
                    <div>PASSWORD: SUPER_SECRET</div>
                    <div>DJ NAME: {{.User.DJ.Name}}</div>
                </div>
                <div class="cell is-flex is-flex-direction-column is-col-span-3 is-row-span-1">
                    <div class="columns m-0">
                        <div class="column is-size-4 has-text-weight-light has-text-centered has-background-radio-secondary-1 py-2 px-5">Description</div>
                        <button class="column button is-narrow ml-2 px-4 py-2">Hanyuu info</button>
                        <button class="column button is-narrow ml-2 px-4 py-2">Streaming info</button>
                        <button class="column button is-narrow ml-2 px-4 py-2">Something else</button>
                    </div>
                    </div>
                <div class="cell is-flex is-flex-direction-column is-col-span-3 is-row-span-2">
                    <div class="box is-flex-1 has-background-radio-secondary-1">
                        <div is="booth-description" class="grid">
                            <p class="cell is-col-span-5">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                            <p class="cell is-col-span-5">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                            <p class="cell is-size-5 has-text-weight-light is-col-span-5">Subdescription</p>
                            <p class="cell is-col-span-5">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                            <p class="cell is-col-span-5">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                            <p class="cell is-col-span-5">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text TextText Text Text</p>
                            <p class="cell is-col-span-5">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p> 
                        </div>
                    </div>
                </div>
                <div class="cell is-col-span-1 is-row-span-1 box has-background-radio-secondary-1 mb-0">
                    <div class="grid">
                        <div class="cell title has-text-weight-light is-flex is-justify-content-center mb-0">Kill Streamer</div>
                        <p class="cell">This kills the Hanyuu. You must connect within x seconds after the current song ends.</p>
                        {{$progress := .Status.SongInfo.Start | Since}}
                        <progress id="current-song-progress" class="progress is-large mb-0" value="{{$progress | ToSecond}}" max="{{.Status.Song.Length.Seconds}}"></progress>
                        <button class="cell button booth-button {{if not .ProxyStatus}}disabled{{end}}">Kill Hanyuu</button>
                    </div>
                </div>
                <div class="cell is-col-span-1 is-row-span-2 box has-background-radio-secondary-1 mb-0">
                    <div class="grid">
                        <div class="cell title has-text-weight-light is-flex is-justify-content-center mb-0">Thread</div>
                        <p class="cell">This is the current thread, you can update it here and use an image by prepending 'image:' to an URL</p>
                        <form>
                            <input id="booth-something-input" class="input has-text-centered" type="text" placeholder="None">
                        </form>
                        <button class="cell button booth-button">Update</button>
                    </div>
                </div>
                <div class="cell is-col-span-3 is-row-span-1">
                    <div class="columns m-0 p-0">
                        <div class="column is-col-span-1 is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 py-2 mb-0">
                            {{with .ProxyStatus}}
                                {{if $.IsLive}}[LIVE]{{else}}[CONNECTED]{{end}} <p class="cell title">{{.MountName}}</p>
                            {{else}}
                                [DISCONNECTED]
                            {{end}}
                        </div>
                        <div class="column box is-col-span-1 is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 py-2 mx-4 mb-0">
                            {{with .ProxyStatus}}
                                Connected for {{.Start | Since}}
                            {{else}}
                                NOT CONNECTED
                            {{end}}
                        </div>
                        <div class="column box is-col-span-1 is-flex is-justify-content-center is-align-items-center has-background-radio-secondary-1 py-2 mb-0">
                            {{with .ProxyStatus}}
                                {{.Metadata}}
                            {{else}}
                                NOT CONNECTED
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-grid has-6-cols">
            <div class="grid box has-background-radio-secondary-1">
                <button class="cell button">Button1</button>
                <button class="cell button">Button2</button>
                <button class="cell button">Button3</button>
                <button class="cell button">Button4</button>
                <button class="cell button">Button5</button>
                <button class="cell button">Button6</button>
            </div>
        </div>
    </div>
    {{printjson .}}
</div>
{{end}}