{{define "content"}}
<section class="section">
    <div class="container">
        <div class="field has-addons">
            <form action="/admin/songs" class="control is-fullwidth" hx-boost="true" hx-push-url="true" hx-target="#songs-content" hx-select="#songs-content">
                <input class="input" type="text" name="q" placeholder="Search" value="{{.Query}}" hx-get="/admin/songs" hx-target="#songs-content" hx-select="#songs-content" hx-trigger="keyup changed delay:500ms">
            </form>
            <div class="control">
                <button class="button is-info" type="submit">Search</button>
            </div>
        </div>
    </div>
    <div id="songs-content" class="fixed-grid has-1-cols-mobile has-1-cols-tablet has-1-cols-desktop has-1-cols-widescreen has-2-cols-fullhd">
        {{template "pagination" .Page}}
        <div class="grid is-gap-4">
            {{range .Forms}}
            <div class="cell">
                {{template "form_admin_songs" .}}
            </div>
            {{end}}
        </div>
        {{template "pagination" .Page}}
    </div>
</section>
{{template "admin_player" .}}
{{end}}
