{{define "content"}}
<section id="pending-section" class="section fixed-grid has-1-cols">
    <div id="pending" class="container grid is-fluid p-0">
        {{range $song := .Submissions}}
            {{template "form_admin_pending" $song}}
        {{end}}
    </div>
</section>
{{template "admin_player" .}}
{{end}}
