{{define "content"}}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="fixed-grid has-1-cols block">
                <div class="grid">
                    <div class="cell">
                        <div class="fixed-grid has-12-cols">
                            <div class="grid">
                                <div class="cell is-col-span-2 has-text-centered">Day</div>
                                <div class="cell is-col-span-2 has-text-centered">Owner</div>
                                <div class="cell is-col-span-7 has-text-centered">Description, shown when Owner is Nobody</div>
                                <div class="cell"></div>
                            </div>
                        </div>
                    </div>
                    {{range .Schedule}}
                    <div class="cell">
                        <div class="fixed-grid has-12-cols">
                            {{block "form_schedule" .}}
                            <form class="grid" hx-target="this" hx-swap="outerHTML" autocomplete="off">
                                {{.CSRFTokenInput}}
                                {{with .Entry}}
                                <input name="weekday" type="text" value="{{.Weekday}}" hidden>
                                <div class="cell is-col-span-2 has-background-radio-secondary-1 is-align-content-center has-text-centered has-rounded-corners p-2">{{.Weekday}}</div>
                                <div class="cell is-col-span-2 is-fullheight has-background-radio-secondary-1 is-align-content-center has-text-centered has-rounded-corners p-2">
                                    <select class="is-fullwidth has-text-centered p-4" name="owner.id">
                                        {{if .Owner}}<option value="{{.Owner.DJ.ID}}">{{.Owner.DJ.Name}}</option>{{else}}<option value="0">Nobody</option>{{end}}
                                        {{range $.AvailableDJs}}
                                        <option value="{{.DJ.ID}}">{{.DJ.Name}}</option>
                                        {{end}}
                                        {{if .Owner}}<option value="0">Nobody</option>{{end}}
                                    </select>
                                </div>
                                <div class="cell is-col-span-7 has-background-radio-secondary-1 is-align-content-center has-text-centered has-rounded-corners p-2" style="word-wrap:anywhere;">
                                    <textarea class="textarea is-fullheight" rows="2" type="text" name="text">{{.Text}}</textarea>
                                </div>
                                <button class="cell button is-success" hx-post="/admin/schedule">Submit</button>
                                {{end}}
                            </form>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}