{{define "content"}}
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Listeners</h2>
        <form hx-push-url="false" hx-target="#content">
            {{.CSRFTokenInput}}
            <table class="table is-striped is-bordered is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Duration</td>
                        <td>User-Agent</td>
                        <td>IP</td>
                        {{if $.User.UserPermissions.Has "listener_kick"}}<td></td>{{end}}
                    </tr>
                </thead>
                <tbody>
                {{range .Listeners}}
                <tr>
                    <td>{{.ID}}</div>
                    <td>{{Since .Start | HumanDuration}}</div>
                    <td>{{.UserAgent}}</div>
                    <td>{{.IP}}</div>
                    {{if $.User.UserPermissions.Has "listener_kick"}}<td><button class="button" hx-post="/admin/tracker/remove?id={{.ID}}" hx-push-url="false">Kick</button></div>{{end}}
                </tr>
                {{end}}
                </tbody>
            </form>
        </div>
    </div>
</section>
{{end}}