{{define "form_admin_songs"}}
{{if and .Song .Song.HasTrack}}
<form class="songs-entry fixed-grid has-12-cols" method="post" action="/admin/songs" hx-target="this" hx-swap="outerHTML swap:1s">
    <input class="is-hidden" type="number" name="id" value="{{.Song.TrackID}}">
    {{.CSRFTokenInput}}

    <div class="grid box{{if .Song.NeedReplacement}} page-db-needreplacement{{end}}">
        {{if .Success}}<div class="cell is-col-span-12 is-success has-text-centered">Song has been updated</div>{{end}}
        {{if .Song.NeedReplacement}}
        <span class="is-uppercase is-box-title">Needs Replacement</span>
        {{end}}
        <div class="cell is-col-span-12 fixed-grid has-12-cols mb-0">
            <div class="grid is-align-items-end">
                <div class="cell is-col-span-1-desktop is-col-span-3-mobile is-col-span-3-tablet tag is-size-7-mobile is-medium">
                    <label class="label is-small is-box-title is-box-title">ID</label>
                    {{.Song.TrackID}}</div>
                <div class="cell is-col-span-8-desktop is-col-span-9-mobile is-col-span-9-tablet tag is-size-7-mobile is-medium" style="overflow:hidden;text-overflow:ellipsis;">
                    {{.Song.Metadata}}</div>
                <div class="cell is-col-span-3-desktop is-col-span-12-mobile is-col-span-12-tablet fixed-grid has-3-cols">
                    <div class="grid">
                        <div class="cell button is-small is-size-7-mobile is-info adminPlayerPlayPauseButton" onclick="togglePlayPauseAdmin(this, '{{.SongURL}}')" style="cursor:pointer;" data-state="Play">Play</div>
                        <div class="cell button is-small is-size-7-mobile is-warning" onclick="adminShowSpectrogram('')" disabled>Show Spec</div>
                        <a class="cell button is-small is-size-7-mobile is-success" href="{{.SongURL}}">Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell is-col-span-4 is-col-span-6-mobile">
            <div class="field">
                <div class="control">
                    <label class="label is-small is-box-title is-box-title-center">Artist</label>
                    <input class="input is-small" name="artist" type="text" value="{{.Song.Artist}}" {{if not .HasEdit}}disabled{{end}}>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-small is-box-title is-box-title-center">Title</label>
                    <input class="input is-small" name="title" type="text" value="{{.Song.Title}}" {{if not .HasEdit}}disabled{{end}}>
                </div>
            </div>
        </div>
        <div class="cell is-col-span-4 is-col-span-6-mobile">
            <div class="field">
                <div class="control">
                    <label class="label is-small is-box-title is-box-title-center">Album</label>
                    <input class="input is-small" name="album" type="text" value="{{.Song.Album}}" {{if not .HasEdit}}disabled{{end}}>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-small is-box-title is-box-title-center">Tags</label>
                    <input class="input is-small" name="tags" type="text" value="{{.Song.Tags}}" {{if not .HasEdit}}disabled{{end}}>
                </div>
            </div>
        </div>
        <!--<div class="cell is-col-span-1">
            <div class="field">
                <label class="label is-small">ID</label>
                <div class="control">
                    <div class="input is-small" disabled>{{.Song.TrackID}}</div>
                </div>
            </div>
            <div class="field">
                <label class="label is-small">Priority</label>
                <div class="control">
                    <div class="input is-small" disabled>{{.Song.Priority}} ({{.Song.RequestCount}})</div>
                </div>
            </div>
        </div>-->
        <div class="cell is-col-span-4 is-col-span-12-mobile">
            <div class="field">
                <div class="control">
                    <label class="label is-small is-box-title is-box-title-center">LP / LR</label>
                    <div class="input is-small is-overflow-auto" style="scrollbar-width:none;" disabled>{{.Song.LastPlayed | Since | HumanDuration}} / {{.Song.LastRequested | Since | HumanDuration}}</div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-small is-box-title is-box-title-center">Acceptor (Editor)</label>
                    <div class="input is-small is-overflow-auto" style="scrollbar-width:none;" disabled>{{.Song.Acceptor}} ({{.Song.LastEditor}})</div>
                </div>
            </div>
        </div>
        {{if .HasEdit}}
        <div class="cell is-col-span-12">
            <div class="grid">
                <button hx-disable-elt="this" hx-post="/admin/songs" class="cell button is-small is-primary" type="submit" name="action" value="save">Save</button>
                {{if .Song.NeedReplacement}}
                    <button hx-disable-elt="this" hx-post="/admin/songs" class="cell button is-small is-white" type="submit" name="action" value="unmark-replacement">Unmark Repl</button>
                {{else}}
                    <button hx-disable-elt="this" hx-post="/admin/songs" class="cell button is-small is-warning" type="submit" name="action" value="mark-replacement">Mark Repl</button>
                {{end}}
            {{if .HasDelete}}<button hx-disable-elt="this" class="cell button is-small is-danger" hx-post="/admin/songs" hx-confirm="Are you sure?" type="submit" name="action" value="delete">Delete</button>{{end}}
            </div>
        </div>
        {{end}}
    </div>
</form>
{{else}}
<div class="songs-entry notification is-danger">If you're seeing this, something went wrong. Contact developers</div> 
{{end}}
{{end}}
