{{define "form_admin_pending"}}
<form class="{{if len .Errors}}is-warning {{end}}pending-entry fixed-grid has-12-cols" method="post" hx-target="this" hx-post="/admin/pending" hx-swap="outerHTML swap:1s">
    <input class="is-hidden" type="number" name="id" value="{{.ID}}">
    {{.CSRFTokenInput}}
    <div class="grid box">
        <div class="cell is-col-span-12 fixed-grid has-12-cols mb-0">
            <div class="grid is-align-items-end">
                <div class="cell is-col-span-7 is-col-span-7-mobile is-col-span-7-touch is-col-span-8-desktop tag is-size-7-touch is-medium">{{.Filename}}</div>
                <div class="cell tag is-size-7-touch is-medium">by {{.UserIdentifier}}</div>
                <div class="cell tag is-size-7-touch is-medium is-hidden-desktop">{{Div .Bitrate 1000}}kbps</div>            
                <div class="cell button is-small is-info adminPlayerPlayPauseButton" onclick="togglePlayPauseAdmin(this, '{{.ID}}')" style="cursor:pointer;" data-state="Play">Play</div>
                <div class="cell button is-small is-warning" onclick="adminShowSpectrogram('/admin/pending-song/{{.ID}}')">Show Spec</div>
                <a class="cell button is-small is-success" href="/admin/pending-song/{{.ID}}">Download</a>
            </div>
        </div>
        <div class="cell is-col-span-3">
                    <label class="label is-small">Artist</label>
                    <div class="control field">
                        <input class="input is-small" name="artist" type="text" value="{{.Artist}}" placeholder="Artist">
                    </div>
                    <label class="label is-small">Title</label>
                    <div class="control field">
                        <input class="input is-small" name="title" type="text" value="{{.Title}}" placeholder="Title">
                    </div>
        </div>
        <div class="cell is-col-span-3">
                    <label class="label is-small">Album</label>
                    <div class="control field">
                        <input class="input is-small" name="album" type="text" value="{{.Album}}" placeholder="Album">
                    </div>
                    <label class="label is-small">Tags</label>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input is-small" name="tags" type="text" placeholder="Tags">
                        </div>
                        <div class="control">
                            <button class="button is-small is-success" style="height:calc(2rem - 2px);" type="submit" name="action" value="accept">Accept</button>
                        </div>
                    </div>
        </div>
        <div class="cell is-col-span-3-mobile is-col-span-3-tablet is-col-span-2-desktop">
                    <label class="label is-small">Comment</label>
                    <div class="control field is-flex is-flex-direction-column">
                        <div class="input is-small" style="scrollbar-width:none;resize:none;min-height:unset;overflow:auto;cursor:unset;flex:6rem;" disabled>{{.Comment}}</div>
                    </div>
        </div>
        <div class="cell is-col-span-1 is-hidden-touch">
            <div class="grid is-fullheight">
                <div class="cell input is-small" style="cursor:unset;" disabled>{{SongFileSize .PendingSong}}</div>
                <div class="cell input is-small" style="cursor:unset;margin-top:0.2rem;" disabled>{{HumanDuration .Length}}</div>
                <div class="cell input is-small" style="cursor:unset;margin-top:0.2rem;" disabled>{{Div .Bitrate 1000}}kbps</div>
            </div>
        </div>
        <div class="cell is-col-span-3">
            <div class="fixed-grid has-6-cols">
                <div class="grid">
                    <div class="cell is-col-span-6">
                        <div class="fixed-grid has-6-cols">
                            <div class="grid">
                                <div class="cell is-col-span-2 is-hidden-touch">
                                    <div class="fixed-grid has-2-cols">
                                        <label class="label is-small">Search</label>
                                        <div class="grid">
                                            <div class="cell is-small is-col-span-3 is-flex is-justify-content-space-around" disabled>
                                                <a class="is-family-code" href="https://www.google.com/search?q={{.Metadata}}" target="_blank">G</a>
                                                <a class="is-family-code" href="https://www.youtube.com/results?search_query={{.Metadata}}" target="_blank">Y</a>
                                                <a class="is-family-code" href="" target="_blank" class="cell button is-small">C</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell is-col-span-6 is-col-span-4-desktop">
                                    <label class="label is-small">Replace</label>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input is-small" type="text" name="replacement" {{with .ReplacementID}}value="{{.}}"{{end}} placeholder="Song ID">
                                        </div>
                                        <div class="control">
                                            <button class="button is-small is-warning" style="height:calc(2rem - 2px);" type="submit" name="action" value="replace">Replace</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell is-col-span-6">
                        <label class="label is-small" style="width:max-content">Reason for declining</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" name="reason" type="text" placeholder="Reason">
                            </div>
                            <div class="control">
                                <button class="button is-small is-danger" style="height:calc(2rem - 2px);" type="submit" name="action" value="decline">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{end}}
