.is-fullheight {
    height: 100%;
}

.is-fullwidth {
    width: 100%;
}

.is-width-90 {
    width: 90%;
}

.is-width-80 {
    width: 80%;
}

.is-width-70 {
    width: 70%;
}

.is-width-60 {
    width: 60%;
}

.is-width-50 {
    width: 50%;
}

.is-width-40 {
    width: 40%;
}

.is-width-30 {
    width: 30%;
}

.is-width-20 {
    width: 20%;
}

.is-width-10 {
    width: 10%;
}

.is-width-0 {
    width: 0% !important;
}

.is-flex-3 {
    flex: 3 !important;
}

.is-flex-2 {
    flex: 2 !important;
}

.is-flex-1 {
    flex: 1 !important;
}

.is-flex-0 {
    flex: 0 !important;
}

.is-flex-grow-10 {
    flex-grow: 10 !important;
}

.is-flex-grow-22 {
    flex-grow: 22 !important;
}

.is-half-height-minus-grid-gaps {
    height: calc(50% - var(--bulma-grid-gap) / 2);
}

.has-background-radio-secondary-1 {
    background-color: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-main-ter-l));
}

.disable-border-radius {
    border-radius: 0 !important;
}

.hide-np-tags > #now-playing-tags {
    display: none;
}

.caret {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
}

.pending-controls span.tag {
    height: auto;
    white-space: normal;
    overflow-wrap: anywhere;
}

.pending-entry.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.pending-entry .field {
    padding: 0.25rem;
}

.content-border-top {
    border-top: 2px rgba(0, 0, 0, .1) solid;
}

span {
    word-break: unset;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-header a,
article a {
    text-decoration: none !important;
}

.on-hover-darken {
    transition: filter 0.125s ease-in-out;
}

.on-hover-darken:hover {
    filter: brightness(0.85);
}

.word-break-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 3rem;
    transition: max-height 0.4s ease-out;
}

.word-break-ellipsis:hover,
.word-break-ellipsis:active {
    max-height: 100px;
    white-space: normal;
    transition: max-height 0.4s ease-in-out;
    overflow: visible;
}

.word-break-all {
    word-break: break-all;
}

.is-hidden-without-js {
    display: none !important;
}

.mobile-spacer {
    margin-bottom: 2.5rem;
}

.disable-pointer {
    cursor: unset;
}

.fill-sides {
    margin: auto;
}

.force-fill-sides {
    margin: auto !important;
}

.block {
    border-radius: 4px;
}

.song-info {
    border-radius: 4px;
    cursor: pointer;
}

.notification {
    padding: 1.25rem;
}

.song-info-extra {
    border-radius: 0px 0px 4px 4px;
}

.dj-image-name-64 {
    position: absolute;
    top: calc(50% - 1rem);
    left: 0px;
    opacity: 0;
    transition: all 0.1s ease-out 0.1s;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    border-radius: 6px;
    padding: 4px 12px 4px 12px;
    overflow: visible;
    text-wrap: nowrap;
}

.dj-image {
    border-radius: 6px !important;
}

.dj-image:hover+.dj-image-name-64 {
    left: calc(100% + 8px);
    opacity: 1;
}

.disable-message-hover:hover,
.disable-message-hover:hover>.message-header:nth-child(2) {
    background-color: initial !important;
}

.disable-border {
    border: none !important;
}

.disable-message-border {
    border-left: none !important;
}

.disable-link-color {
    color: unset !important;
}

.content-border-top-light {
    border-top: 2px solid rgba(0, 0, 0, .1);
    border-radius: 0px 0px 6px 6px;
  }

#radio-logo:hover {
    background-color: initial;
}

#search-bar-popup {
    position: absolute;
    z-index: 99;
    transition: 0.125s all ease-in-out;
    max-height: 33vh;
    min-width: 30rem;
    overflow: scroll;
    border: 2px solid hsl(0, 0%, 90%);
    right: -0.125rem;
    top: calc(3.25rem + 1rem);
    scrollbar-width: none;
}

@media screen and (max-width:1023px) {
    .navbar-container {
        position: absolute;
        background-color: hsl(0, 0%, 96%);
        border-bottom: 2px solid hsl(0, 0%, 90%);
        z-index: 99;
        width: 100vw;
        top: 3.25rem
    }
}

#search-bar-popup>.columns:nth-child(even) {
    background-color: hsl(0, 0%, 96%);
    border-top: 2px solid hsl(0, 0%, 90%);
    border-radius: 4px;
}

.green-text {
    color: #789922;
}

#lastplayed,
#queue,
#thread {
    min-height: calc(256px - 2.5rem)
}

#options-button-dropdown {
    display: flex;
    flex-direction: column;
    margin-top: calc(40px + 0.75rem);
}

.dropdown-parent {
    position: relative;
}

.dropdown-container {
    position: absolute;
    left: 0;
    right: 0;
}

@keyframes flash {
    0% { filter: brightness(1); }
    50% { filter: brightness(1.5); }
    100% { filter: brightness(1); }
}

.is-targeted {
    animation: flash 0.5s ease-in-out 3;
}

#help-separator {
    max-width: 0px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.schedule-tile {
    word-wrap: anywhere;
}

.progress {
    --bulma-progress-border-radius: 4px !important;
}

#current-song-progress {
    background-color: var(--bulma-progress-bar-background-color);
}

a.navbar-item:focus, a.navbar-item:focus-within, .navbar-link:focus, .navbar-link:focus-within {
    background-color: initial;
}

button.is-danger, button.is-info, button.is-primary, button.is-request, button.is-success, button.is-warning {
    border: 1px solid hsla(0, 0%, 0%, 0);
}

.has-rounded-corners {
    border-radius: 6px;
}

.lp-meta:hover, .queue-meta:hover {
    white-space: wrap !important;
}

.no-background {
    background-color: unset !important;
}

.svg-icon {
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.svg-icon:hover {
    cursor: pointer;
}

/* same as old site */
#metadata, #dj-name {
    font-weight: 500;
    line-height: 1.1;
}