{{define "footer"}}
<footer class="footer has-text-centered pb-0 no-background">
    <p class="">
        <a class="" href="https://play.google.com/store/apps/details?id=io.r_a_d.radio2" target="_blank">Android</a> |
        <a class="" href="https://twitter.com/Hanyuu_status" target="_blank">Twitter</a> |
        <a class="" href="https://github.com/R-a-dio/site" target="_blank">Github</a> |
        <a class="" href="https://need.moe/radio/" target="_blank">Extra</a>
    </p>
</footer>
{{end}}