{{define "head"}}
<link rel="stylesheet" href="{{WithVersion "/assets/default-light/css/bulma.min.css"}}">
<link rel="stylesheet" href="{{WithVersion "/assets/default-dark/css/main.css"}}">
<script src="{{WithVersion "/assets/default-dark/js/theme.js"}}"></script>
{{end}}