{{define "head"}}
<link rel="stylesheet" href="/assets/default-light/css/bulma.min.css">
<link rel="stylesheet" href="/assets/default-dark/css/main.css">
<script src="/assets/default-dark/js/theme.js"></script>
{{end}}