{{define "news-post-home"}}
<div class="column">
    <article class="message">
        <a href="/news/{{.ID}}" hx-boost="true" hx-push-url="true" hx-target="#content" style="text-decoration:none!important;">
            <div class="message-header has-background-radio-primary-2 on-hover-darken">
                <span class="news-title">{{.Title}}</span>
                <span style="text-decoration:none;">{{.User.Username}}</span>
            </div>
        </a>
        <div class="message-body has-background-radio-secondary-1 disable-message-border pt-2">
            <strong><time class="is-inline-block is-fullwidth has-text-right" datetime="{{.CreatedAt.Unix}}" data-type="absolute">{{.CreatedAt | AbsoluteDate}}</time></strong>
            {{.Header}}
        </div>
    </article>
</div>
{{end}}

{{define "news-post-news"}}
<div class="column is-3-fullhd is-4-desktop is-half-tablet">
    <article class="message m-3 p-0">
        <a href="/news/{{.ID}}">
            <div class="message-header has-background-radio-primary-2 on-hover-darken">
                <span class="news-title">{{.Title}}</span>
                <span style="text-decoration:none;">{{.User.Username}}</span>
            </div>
        </a>
        <div class="message-body has-background-radio-secondary-1 disable-message-border pt-2">
            <strong><time class="is-inline-block is-fullwidth has-text-right" datetime="{{.CreatedAt.Unix}}" data-type="absolute">{{.CreatedAt | AbsoluteDate}}</time></strong>
            {{.Header}}
        </div>
    </article>
</div>
{{end}}