{{define "admin-navbar"}}
<nav class="navbar is-fixed-bottom is-dark" role="navigation" {{.AdminNavBar.Attr}}>
    <div class="navbar-brand is-hidden-desktop">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="admin-navbar" onclick="this.classList.toggle('is-active'); document.getElementById(this.dataset.target).classList.toggle('is-active')">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="admin-navbar" class="navbar-menu is-justify-content-center">
        <div class="navbar-container is-flex is-justify-content-space-evenly">
            <div class="navbar-start">
            {{range .AdminNavBar.Values}}
                <a class="navbar-item" {{.Attr}}>{{.Name}}</a>
            {{end}}
            </div>
        </div>
    </div>
</nav>
{{end}}
