{{define "head"}}
<link rel="stylesheet" href="{{WithVersion "/assets/default-dark/css/bulma.min.css"}}" />
<link rel="preload" href="{{WithVersion "/assets/default-dark/css/fonts.css"}}" as="style" />
<link rel="preload" href="{{WithVersion "/assets/default-dark/css/main.css"}}" as="style" />
<link rel="stylesheet" href="{{WithVersion "/assets/default-dark/css/fonts.css"}}" />
<link rel="stylesheet" href="{{WithVersion "/assets/default-dark/css/main.css"}}" />
<style id="dynamic-font">:root {--bulma-family-primary: Roboto, Inter, 'SF Pro', 'Segoe UI', Oxygen, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif !important}</style>

<script src="{{WithVersion "/assets/default-dark/js/theme.js"}}"></script>
{{end}}
{{define "full-page-body"}}class="theme-dark"{{end}}