{{define "head"}}
<link rel="stylesheet" href="/assets/default-light/css/main.css">
<link rel="stylesheet" href="/assets/default-dark/css/bulma.min.css">
<script src="/assets/default-light/js/theme.js"></script>
{{end}}
{{define "full-page-body"}}class="theme-dark"{{end}}