{{define "public-navbar"}}
<nav class="navbar is-dark" role="navigation" {{.NavBar.Attr}}>
    <div class="navbar-brand is-hidden-desktop">
        <a class="navbar-item" href="/">
            <img src="/assets/images/logotitle_2.png" alt="r/a/dio logo">
        </a>
        {{if .IsUser}}<button class="navbar-switch on-hover-darken" onclick="toggleNavbarState('public')"></button>{{end}}
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="public-navbar" onclick="this.classList.toggle('is-active'); document.getElementById(this.dataset.target).classList.toggle('is-active')">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="public-navbar" class="navbar-menu is-justify-content-center">
        <div class="navbar-container has-background-radio-primary-2 is-flex is-justify-content-space-evenly">
            <a id="radio-logo" class="navbar-item is-hidden-touch" href="/">
                <img src="/assets/images/logotitle_2.png" alt="r/a/dio logo">
            </a>
            <div class="navbar-start has-text-centered">
            {{with .NavBar.Values}}{{range slice . 1}}
                <a class="navbar-item" {{.Attr}}>{{.Name}}</a>
            {{end}}{{end}}
            </div>
            <div class="pl-3 navbar-end is-hidden-touch">
                <form class="my-auto" method="GET" action="/search" accept-charset="UTF-8">
                    <input id="navbarinput" hx-push-url="false" hx-get="/v1/search" hx-trigger="input changed delay:250ms" hx-target="#search-bar" class="input has-text-centered" type="text" name="q" placeholder="Type to search and request" role="search" onblur="clearNavbarSearchValue(event)" style="font-size: 0.95rem;">
                </form>
                <div id="search-bar" style="position: absolute;"></div>
            </div>
        </div>
        {{if .IsUser}}<button class="navbar-switch on-hover-darken" onclick="toggleNavbarState('public')"></button>{{end}}
    </div>
</nav>
<progress id="loading-indicator" class="progress is-small is-primary htmx-indicator"></progress>
{{if .IsUser}}{{template "admin-navbar" .}}{{end}}
{{end}}
{{define "navbar"}}{{template "public-navbar" .}}{{end}}