{{define "svg-icon"}}
<svg class="svg-icon" style="height:1.5rem!important;width:1.5rem!important;cursor:unset!important;filter:unset!important;min-height:1.5rem!important;min-width:1.5rem!important;">
    <use href="/assets/default-dark/svg/outline/{{.}}.svg#icon"></use>
</svg>
{{end}}